[2017-06-16 17:44] jvogtman opened #1 "This alignment is off"

[2017-06-28 16:24] #1 closed

[2017-06-28 16:29] katrialesser opened #5 "Y Facts styling"
1. Height on left side of bar
2. Height on right side of bar
3. What H's are used in Y Facts banner - all styles please.
4. What is the angle of the bar?
![image](https://user-images.githubusercontent.com/12898896/27648705-9d56067a-5bec-11e7-94a8-6fcd4d3e1362.png)

[2017-06-28 16:30] katrialesser opened #6 "About Y Facts styling"
I still need the font size for Largest - what H is it?

We already have 19 different font styles, so we should be able to use one of those.

[2017-06-28 16:32] katrialesser opened #7 "Student Bar specs"
![image](https://user-images.githubusercontent.com/12898896/27648791-f2446be0-5bec-11e7-833e-53150b34bbde.png)

1. It looks like the height of the bars is 8px, please confirm.

[2017-06-28 16:44] sher1 opened #8 "Need sizes for circles and fonts in Y Facts section of Academic page"
Need sizes

[2017-06-28 16:45] sher1 opened #9 "Need fonts and colors for Academic side bar links"

[2017-06-28 16:46] sher1 opened #10 "Need font size and Box size for Full Academic Calendar box"

[2017-06-28 16:48] sher1 opened #11 "Need all sizes for the Academic Success ranking stories"

[2017-06-28 16:49] #8 closed

[2017-06-28 16:49] #11 closed

[2017-06-28 16:53] katrialesser opened #12 "Map area specs"
1. Width of map at 1224px
2. Width of map at 1800px
3. Size of circles
4. For the 14 certifications.. 14 different... and 65% of students... it looks like H12 and H8 - please confirm which H the smaller text is.
5. What size do you want the award icons at?
6. What is the width of the bar beneath 65% of students.... that will help me a lot with layout positioning.

![image](https://user-images.gith

[2017-06-28 16:56] katrialesser opened #13 "New Spec"
It appears our spec sheet is not up to date.

We need an updated

[2017-06-28 16:56] sher1 opened #14 "Need overlap desired for Academic Circles"

[2017-06-28 16:57] sher1 opened #15 "Need border thickness for Academic circles"

[2017-06-28 16:59] sher1 opened #16 "Need background color and transparency for Ranking Overlay bars"

[2017-06-28 16:59] #9 closed

[2017-06-28 17:07] katrialesser opened #17 "New Spec Sheet & Possible consolidation?"
It appears our spec sheet is not up to date. There are other options introduced in individual pages that are not on the spec sheet. Right now it looks like we have 21+ options:

Note that because the specs sheet has indicated some were links and there have been links that were under H's not specified, we have had to build out the code to allow links underneath EACH OF THESE. That means twice as mu

[2017-06-28 17:19] katrialesser opened #18 "Admissions Tuition Graph size specs"
1. gray box size
2. Undergraduate navy box size
3. Graduate blue box size
4. Yellow/gold box sizes
5. little gray side boxes with credit information - need sizes
6. royal button at bottom sizes

[2017-06-28 17:29] Aleniras commented on #6
@katrialesser I answered this on June 15:
![image](https://user-images.githubusercontent.com/26605197/27651189-a71a3d90-5bf4-11e7-8351-0d94eacc700f.png)

[2017-06-28 17:30] Aleniras commented on #7
@katrialesser confirmed. 8px.

[2017-06-28 17:31] Aleniras commented on #10
@sher1 can you include a screenshot so I know if you're referring to the button box or the display box?

[2017-06-28 17:34] 10kkuykendall06 opened #19 "Admissions YFacts Graph specs"
1. We need the 4 icon files and sizes
2. White box sizes
3. YFacts height on the left
4. YFacts height on the right
5. Width of navy YFacts bar

[2017-06-28 17:34] 10kkuykendall06 commented on #19
![image](https://user-images.githubusercontent.com/29759251/27651479-b95f7d98-5bf5-11e7-833a-65d5c1f67ef2.png)

[2017-06-28 17:34] sher1 opened #20 "Need Campus Life Column widths and padding"

[2017-06-28 17:35] sher1 opened #21 "Need Campus Life Image sizes for bottom"

[2017-06-28 17:36] 10kkuykendall06 opened #22 "Top of Admissions Page Specs"
1. Navy undergraduate box size and padding
2. Blue graduate box size and padding

[2017-06-28 17:36] 10kkuykendall06 commented on #22
![image](https://user-images.githubusercontent.com/29759251/27651570-08a74d90-5bf6-11e7-9034-d70ff2c9f404.png)

[2017-06-28 17:39] sher1 opened #23 "Home color gradients for To do section headers"

[2017-06-28 17:40] sher1 opened #24 "Fonts and sizes for Home Page Hero text overlay"

[2017-06-28 17:40] sher1 opened #25 "Font colors for h3s on Something to sections"

[2017-06-28 17:40] 10kkuykendall06 opened #26 "Campus Life Specs"
1. Blue boxes, size and padding
2. Icons (next to athletics, arts, etc.) files _and_ sizes

[2017-06-28 17:41] 10kkuykendall06 commented on #26
![image](https://user-images.githubusercontent.com/29759251/27651771-a79abd9c-5bf6-11e7-8a8f-2f4673baecbd.png)

[2017-06-28 17:42] katrialesser commented on #17
We need Aleni to adjust places in the mockup specs where she is introducing random styles to using one of the predefined styles.
![image](https://user-images.githubusercontent.com/12898896/27651699-7c68e6da-5bf6-11e7-89a2-9300c31b3c77.png)
![image](https://user-images.githubusercontent.com/12898896/27651717-81fde640-5bf6-11e7-805f-7420ec54e853.png)

We have normal body style, 21 already defined H

[2017-06-28 17:44] 10kkuykendall06 opened #27 "Campus Life YFacts specs"
1. YFacts Navy bar width
2. gray box (with stone cold sober... etc) size
3. Chocolate Milk picture size
4. The ROC Section/Famous Comedians gray box size and padding
5. The ROC Section/Famous Comedians picture size
6. Might need the picture files for this section?

![image](https://user-images.githubusercontent.com/29759251/27651938-336fd546-5bf7-11e7-841f-099a46f850d4.png)

[2017-06-28 17:46] #13 closed

[2017-06-28 17:46] sher1 commented on #11
Sherwin Needs to look at the spec sheet

[2017-06-28 17:46] sher1 commented on #9
Sherwin Needs to look at the spec sheet

[2017-06-28 17:46] sher1 commented on #8
Sherwin Needs to look at the spec sheet

[2017-06-28 17:46] katrialesser commented on #17
FYI I get that this & is used as a visual element, although it is text. I am okay that this doesn't fit one of the 24 styles:
![image](https://user-images.githubusercontent.com/12898896/27652026-73da72a8-5bf7-11e7-9680-2336301895d5.png)

[2017-06-28 17:53] Aleniras commented on #12
@katrialesser
1. 816 x 412
2. 816 x 412 (drops to 356 x 180 at 768px screens)
3. 156 x 156
4. H9 for "14" + H12 for "certifications available in"
5. 43 x 61
6. 282 x 28

[2017-06-28 17:53] 10kkuykendall06 opened #28 "Academics Specs"
1. May need image and size of academic calendar?
2. Left and Right icon files and sizes
3. Navy "Full Academic Calendar" box size and padding
4. Navy "Full Academic Calendar" font specs

![image](https://user-images.githubusercontent.com/29759251/27652206-2984207c-5bf8-11e7-91e2-cc9a5b89df4d.png)
![image](https://user-images.githubusercontent.com/29759251/27652229-3b615c92-5bf8-11e7-988d-1bbbe507a

[2017-06-28 17:58] 10kkuykendall06 opened #29 "Academics YFacts Specs"
1. Navy YFacts bar width
2. height of YFacts on the left and on the right
3. Gray section under YFacts size specs
4. Padding of words inside gray box (Academic Success, etc)
5. size pecs of 3 pictures at the bottom
6. Blue boxes on pictures size specs and transparency and padding
7. How far down on the picture does the blue box go?

![image](https://user-images.githubusercontent.com/29759251/27652

[2017-06-28 18:01] 10kkuykendall06 opened #30 "Homepage Specs"
1. White box (Bullet-Proof Origami) size specs, padding, and transparency
2. Where on the large picture does the box described above go?
3. MYBYU blue box size specs and padding
4. BYU Box at the top size specs and padding

![image](https://user-images.githubusercontent.com/29759251/27652572-86670ab0-5bf9-11e7-9892-5966e95d20e1.png)

[2017-06-28 18:02] Aleniras commented on #20
@sher1 Column width should be 300px. I have it at full width on mobile but if that's too hard to adjust we can keep it at 300 everywhere. Let me know what you decide!

[2017-06-28 18:05] 10kkuykendall06 opened #31 "Homepage "Something To" section"
1. Something To box size specs and padding
2. Picture sizes

![image](https://user-images.githubusercontent.com/29759251/27652732-fdba6fe4-5bf9-11e7-8893-ef5880268099.png)

[2017-06-28 18:07] sher1 commented on #10
![academic-calendar-box](https://user-images.githubusercontent.com/3721239/27652817-55c22a56-5bfa-11e7-9c7d-108f8a4df8fd.png)

[2017-06-28 18:07] 10kkuykendall06 opened #32 "Homepage Highlighted Events Section"
1. Blue date boxes sizes and padding
2. Full events calendar blue box size and padding
3. 4 "VIEW >>" boxes sizes and padding
4. Navy Academic Calendar box size and padding

![image](https://user-images.githubusercontent.com/29759251/27652843-6b36ae98-5bfa-11e7-91b2-16890a8d943b.png)

[2017-06-28 18:17] Aleniras commented on #18
1. large screens: 400 x 85 | small screens (<1024 px) 275 x 85
2. large screens: 300 x 45 | small screens (<1024 px) 135 x 50
3. same as ^
4. large screens: 140 x 80 | small screens (<1024 px) 135 x 50
5. large screens: 475 x 40 | 1024: 265 x 30 | smaller screens: no grey box
6. 245 x 45 (all widths)

[2017-06-28 18:31] Aleniras commented on #22
@10kkuykendall06

1. 280 x 50 (1024+ screens)
       - 15 px padding in between boxes
    185 x 40 (<1024... smallest screens will have to be stacked like image below)
       - 10 px padding in between boxes
2. same as #1

[2017-06-28 18:31] Aleniras commented on #22
![image](https://user-images.githubusercontent.com/26605197/27653881-b6323bee-5bfd-11e7-91d1-7cce92f0d090.png)

[2017-06-28 18:34] Aleniras commented on #23
![image](https://user-images.githubusercontent.com/26605197/27654023-2b6a7ae8-5bfe-11e7-8ad5-47b5f849c5aa.png)

[2017-06-28 18:35] Aleniras commented on #23
@sher1 I'll need to run these by Joe since they have changed to be accessible, but go ahead and use these colors for now.

[2017-06-28 18:36] Aleniras commented on #24
![image](https://user-images.githubusercontent.com/26605197/27654086-62c18392-5bfe-11e7-9e0f-2faa3ddee324.png)

@sher1 I believe we already established this but let me know if you have questions.

[2017-06-28 18:37] Aleniras commented on #25
@sher1 always navy blue. #002E5D

[2017-06-28 18:55] Aleniras commented on #28
1. This will be populated via the admissions office. Current size of month display are as follows:
    1824: 880 x 625
    1224-1024: 510 x 365
    768-320: does not display

2. will attach below
3. 158 x 65 (all widths)
4. H7 + bold on "academic"

[2017-06-28 18:56] Aleniras commented on #28
@10kkuykendall06 turns out github doesn't support .svg files. Want to send me your email and I'll forward those icons?

[2017-06-28 19:03] #7 closed

[2017-06-28 19:04] katrialesser opened #33 "Gender bar sizing"
how tall are these bars?
![image](https://user-images.githubusercontent.com/12898896/27655358-50c8cc32-5c02-11e7-9285-1ed3dc8ce217.png)

[2017-06-28 19:32] katrialesser opened #34 "About: total students block sizes"
![image](https://user-images.githubusercontent.com/12898896/27656445-33fd77fc-5c06-11e7-93ac-5694719ac1cf.png)

[2017-06-28 19:34] katrialesser commented on #34
I'd kindof prefer if we could do the width as a percentage, but a pixel amount is probably okay.. Right now it looks like 23%.

[2017-06-28 19:50] Aleniras commented on #14
@sher1 please include a screenshot.

[2017-06-28 20:16] sher1 commented on #14
![overlapping-circles](https://user-images.githubusercontent.com/3721239/27658176-5f0afec8-5c0c-11e7-9aeb-1d34704fa442.png)

[2017-06-28 21:27] Aleniras commented on #5
Not clear on exactly what you're asking on 1 and 2, but if its the height of the blue bar, it is the same on both sides.
1. 150 px
2. 150 px
3. Y: H1 (+ medium), FACTS: H10, all caps. Please eliminate "Brigham Young University)
4. 7*

[2017-06-28 21:27] Aleniras commented on #5
![image](https://user-images.githubusercontent.com/26605197/27661110-550a3eb6-5c16-11e7-89fd-486196f60432.png)

[2017-06-28 21:28] Aleniras commented on #15
1px

[2017-06-28 21:30] Aleniras commented on #16
![image](https://user-images.githubusercontent.com/26605197/27661237-c72e0752-5c16-11e7-8f85-81aeec342d4d.png)

[2017-06-28 21:31] Aleniras commented on #16
@sher1 ^

[2017-06-28 21:53] Aleniras commented on #27
1. Y Facts Bar will always be full width
2. (1224+ wide: 790 x 435) (786+ wide: 500 x 460) (320 wide: full width)
3. (1224+ wide: 433 x 648) (786+ wide: 270 x 405) (320 wide: full width)
4. (1224+ wide: 790 x 50) (786+ wide: 380x50) (320 wide: full width)
    6 px padding around boxes everywhere
5. (1224+ wide: 790 x 300) (786+ wide: 380x244) (320 wide: full width)
6. Let me know

[2017-06-28 21:54] Aleniras commented on #21
I'm going to close this because I've answered it in more depth on #27.

[2017-06-28 21:54] #21 closed

[2017-06-28 21:55] Aleniras commented on #33
55px tall until 768 width, then 32px.

[2017-06-28 21:56] Aleniras commented on #33
![image](https://user-images.githubusercontent.com/26605197/27662270-5d3af9a0-5c1a-11e7-9008-5dee1a0a4dcd.png)

![image](https://user-images.githubusercontent.com/26605197/27662277-61f2ce8c-5c1a-11e7-9148-2282ed72feb1.png)

[2017-06-28 22:21] Aleniras commented on #29
1. Y Facts bar is always full width
2. Height is 80 px both sides
3. full width, 450 height on large screens, 550 on small screens as content gets taller when it stacks
4. Left aligned with image beneath
5. square. (1224+: 405 x 405) (768+: 255 x 255) (320+: full width)
6. (1224+: 370 x 120) (768+: 255 x 150) (320+: full width)
7. 22 pixels up from the bottom. NOTE: at 1024, the blue boxes go bene

[2017-06-28 22:22] Aleniras commented on #29
![image](https://user-images.githubusercontent.com/26605197/27663096-ec1c6a34-5c1d-11e7-99cb-10f49677b059.png)

![image](https://user-images.githubusercontent.com/26605197/27663101-f4e7e1de-5c1d-11e7-93ba-f26c01befcec.png)

[2017-06-28 22:49] Aleniras commented on #30
1. 1024+: 800 x 145, 768+: 640 x 120, 320+ (sits below image and is left aligned)
2. 28 pixels up from the bottom except for on on 1824 version please do 68 px from bottom.
3. 110 x 30, #002E5D
4.
![image](https://user-images.githubusercontent.com/26605197/27663881-b78bc4fa-5c21-11e7-9812-61fe4b9e2929.png)

[2017-06-28 22:55] katrialesser opened #35 "Complex demographics & map animation specs"
We haven't received any visual specs about the animations for the Student Demographics section of the About page. This is fairly complicated so we need explicit specifications. We need mockups showing several steps involving the maps. Here is what I have written in my notes:

1. 50 States shows up with a US Map
2. US Map zooms/changes to be small and in it's position. And now apprently there is al

[2017-06-28 22:56] Aleniras commented on #32
@10kkuykendall06
1. 237 x 65 at 1824 px. Please keep height and shrink width responsively, displaying only three days at 1024 width, then moving to vertical view at 768.
9 px white padding in between each.
2. width of full events calendar blue box should match width of the other boxes, at each respective width.
3. 105 x 35
4. same as #2. Should be same width as other boxes as each respective scree

[2017-06-28 22:59] katrialesser commented on #12
7. Which light gray is the background of the '65% of students...' bar?

[2017-06-28 23:00] katrialesser commented on #35
Note: I think it might be a good animation approach to have the US map large, then shrinks to it's place AS the world map fades in quietly in the background, not over the top.

[2017-06-28 23:02] katrialesser opened #36 "About: Mobile Map Demographics section"
I need specs of the map & demographics details at each breakpoint. I need to know how the maps section looks with color codes of each section, as some of them change.

Also, in mobile you have a gradient background behind the map, not just different background and foreground map color...Is that what we are doing? I was not aware and am checking on this.
320px:
![image](https://user-images.githubus

[2017-06-28 23:02] katrialesser commented on #35
I also need to confirm that for this section we are only doing all of this complicated animation at 1024px and up, where there is a full header. Correct?

[2017-06-28 23:03] Aleniras commented on #12
@katrialesser #E5E5E5

[2017-06-28 23:05] Aleniras commented on #35
Yes on animation only on 1024 and up. I think it will be more simplified than what you have listed but I'll work on getting examples and a clear step-by-step. Thanks for the reminder @katrialesser !

[2017-06-28 23:06] Aleniras commented on #34
@katrialesser a percentage of what? the width of the screen?

[2017-06-29 17:38] #33 closed

[2017-06-29 17:50] katrialesser commented on #15
is this the case for ALL circles? @Aleniras

[2017-06-29 18:03] katrialesser commented on #34
Yes, a percentage of the width of the CONTENT. Which you have said is 1200px at large screen and I'm not sure what the width is when the screen is 1224px. Right now it looks close to your design at 77% bars, 23% total student box.

[2017-07-06 16:46] katrialesser commented on #5
1 & 2. @Aleniras , I need to know how tall the gray area is on the left and right side. I can guess, but then it won't be what you want exactly.

[2017-07-06 18:23] Aleniras commented on #5
My 1800 width is 328px tall on the left and 102 on the right. Feel free to shrink height as necessary as it goes smaller.

[2017-07-13 15:30] Aleniras commented on #19
1. see attached
2. >768: 380 x 65; then < 768 : 275 x 65
3+4. largest: 490 on left + 280 on right. Please ensure 68px of padding beneath white box to end of grey box. At 768px, grey box goes to half screen. (see attached)
5. Always full width.

[2017-07-13 15:32] Aleniras commented on #19
<img width="753" alt="screen shot 2017-07-13 at 9 32 07 am" src="https://user-images.githubusercontent.com/26605197/28174240-2f9abbd0-67ae-11e7-8a1b-02e1b3989e54.png">

[2017-07-13 15:35] Aleniras commented on #19
@10kkuykendall06 I can't upload .svg files here so please check slack for the four icons.

[2017-07-13 15:48] Aleniras commented on #10
<img width="481" alt="screen shot 2017-07-13 at 9 47 22 am" src="https://user-images.githubusercontent.com/26605197/28175024-5738289c-67b0-11e7-8e8d-d0d92ef3b92e.png">

[2017-07-13 15:48] Aleniras commented on #10
@sher1 Please use this same formatting for all instances of the academic calendar button.

[2017-07-13 15:50] Aleniras commented on #14
@sher1  11px

[2017-07-13 15:51] Aleniras commented on #15
@katrialesser all circles with border, yes. Circles on the campus life page, for example, should not have a border.

[2017-07-13 15:53] Aleniras commented on #17
@katrialesser can we chat about this in our meeting today? I'd love to get this simplified where possible.

[2017-07-13 15:59] Aleniras commented on #28
@10kkuykendall06 These are also on slack.

[2017-07-14 17:56] Aleniras commented on #26
1. See #20
2. I'll attach the icons in slack since github doesn't accept .svg

[2017-07-14 18:00] Aleniras commented on #34
@katrialesser I have this width at 270, height at 155. At <768 px, it switches to 290 x 90

[2017-07-14 20:12] katrialesser commented on #34
@Aleniras if I hard code the width of the box, I also have to hard code the bars and then they can't always stretch the full width of the screen and alignment is off between the bars and the box.. We need to do a percentage so I will do a couple percentages at the breakpoints that mimic the widths you are working with; thus it meets the design at breakpoints but doesn't break in between breakpoint

[2017-07-14 20:13] katrialesser commented on #35
@Aleniras I need this information asap. The about page is on hold until information and mockups are provided for this.

[2017-07-14 20:41] Aleniras commented on #34
Great. I think percentages are fine, I just didn't have a tool to figure them out on my end so I thought giving you height and width could help you plug it in and convert to percentage based on your page width. Do I need to do more research?

[2017-07-14 21:27] Aleniras commented on #35
[About Animations.pdf](https://github.com/byu-oit/home_d8/files/1149715/About.Animations.pdf)

[2017-07-14 21:27] Aleniras commented on #35
@katrialesser Here are some instructions. Will you call me when you have a moment so we can talk through it. Just want to make sure what was in my head got onto paper :) 2-7581 is my extension

[2017-07-14 21:47] Aleniras commented on #36
Great questions - -
I've made sure the dimensions of the items for 320 width - 1023 width are the same, so they'll just be stacking differently. I've eliminated the grey gradient on those versions so they'll match the desktop more:

320+768: US map is 275 x 270, World map is 300x152 (I've attached another world map that is a darker grey for these widths.

320: (the one difference on this version i

[2017-07-14 21:55] #14 closed

[2017-07-14 21:55] sher1 commented on #14
Thank you!

[2017-07-14 21:56] sher1 commented on #15
thanks

[2017-07-14 21:56] #15 closed

[2017-07-14 22:01] sher1 commented on #29
@Aleniras , can you tell us the hex color of the overlay color for the ranking boxes and also the transparency % ?

[2017-07-14 22:36] Aleniras commented on #31
1. 320: 154 x 240
   768: 160 x 250
   1024+: please make the same width as calendar beneath it, and increase % responsively.

2. Squares

[2017-07-14 22:44] Aleniras commented on #29
Yes @sher1. See Issue #16

[2017-08-23 20:16] Aleniras opened #48 "HOME page"
- Please turn the play button in the hero space #5F7C9B when hovered on.
- the copy text under the title in hero space needs to be be Gotham font
- please make the BYU only drop down on the homepage and load normally on the other pages.

[2017-08-23 20:17] Aleniras opened #49 "Active state on nav bar for all pages"
The active state on nav bar currently hangs slightly into hero image.

![image](https://user-images.githubusercontent.com/26605197/29636419-c73345e6-880d-11e7-8a67-5b6f68bbb656.png)

[2017-08-23 20:19] Aleniras opened #50 "Padding before the footer on all pages"
Please add at least 100px of padding height before the footer on every page.

![image](https://user-images.githubusercontent.com/26605197/29636495-1296cc6a-880e-11e7-9642-280cd490aea8.png)

[2017-08-23 20:22] Aleniras opened #51 "Padding below hero image on all pages"
Please ensure there are 80px of white space between hero image and start of content on every page.

![image](https://user-images.githubusercontent.com/26605197/29636615-834f9b6c-880e-11e7-9d84-e58161a0630a.png)

[2017-08-23 20:24] Aleniras opened #52 "Secondary Pages Title"
All secondary pages need to have a slightly lower title. (There should be no image showing beneath the letters of the page name.)

![image](https://user-images.githubusercontent.com/26605197/29636673-bcab26ce-880e-11e7-8383-3e1e49d22551.png)

[2017-08-23 20:27] Aleniras opened #53 "ADMISSIONS page"
- circles don't align above and below buttons.
- can we keep the width of the italicized note the same width as the "undergraduate button"?
- please left align "school of management" with the yellow squares so it still looks organized at smaller widths.
- can we increase the height on the grey under the Y Facts so there is 60px of padding beneath the white boxes?
- "Freshman Profile" should be an

[2017-08-23 20:28] Aleniras commented on #53
![image](https://user-images.githubusercontent.com/26605197/29636806-4965cf9c-880f-11e7-8ac2-905d0f33fa72.png)

[2017-08-23 20:29] Aleniras commented on #53
@hadfieldjoe can we change this "School of Management" line to be a "/" instead of an "and" so it will fit without hanging off the edge? Then, lets left align so when it goes to smaller widths it is still aligned to something.

![image](https://user-images.githubusercontent.com/26605197/29636873-7fed20c4-880f-11e7-9f11-91fa327daf1e.png)

[2017-08-23 20:37] Aleniras opened #54 "CAMPUS LIFE"
- service and faith book icon is slightly too big; shouldn't touch the edges. (do I need to resend?)
- add hover on circle buttons to match specs
- need hover on links like on the about page. please turn links BYU royal

![image](https://user-images.githubusercontent.com/26605197/29637159-868bf378-8810-11e7-80e7-93cd1e0dec03.png)

![image](https://user-images.githubusercontent.com/26605197/2963717

[2017-08-23 20:47] Aleniras opened #55 "ABOUT"
- add white space beneath main quote. (~80px - - always more below than above)
- instagram images looking great! any way to align row height in between images to column width? (if its too hard you can ignore this.)
- See more: please make sure "see more" is a circle" and add hover function (light grey?). Also, please center text in the circle, and use the button text formatting pictured below.
- "

[2017-08-23 20:56] Aleniras opened #56 "ACADEMICS"
- hover looks great on big links but smaller links have no hover
- page isn’t loading to full width

![image](https://user-images.githubusercontent.com/26605197/29638030-1f2135b0-8813-11e7-953e-86b8c83ff786.png)

![image](https://user-images.githubusercontent.com/26605197/29638042-2771ef84-8813-11e7-9fe0-bb9d092a0343.png)

[2017-08-23 20:57] snelg commented on #48
Done

[2017-08-23 21:21] Aleniras opened #57 "Y Facts Banner"
The second to largest breakpoint has the ideal height for the Y Facts banner. Can we keep that for biggest screens and eliminate the current largest version? (Also, if it's a quick fix it would be nice to change the color of the banner to match the blue header.)

![image](https://user-images.githubusercontent.com/26605197/29638968-4d2cd722-8816-11e7-94a3-74eef8b9c7e6.png)

[2017-08-23 21:23] Aleniras opened #58 "White shape appearing under Y Facts"
- please eliminate the white shape appearing under the Y Facts banner everywhere it appears.

![image](https://user-images.githubusercontent.com/26605197/29639166-0d83f85c-8817-11e7-8d66-d369b6e8750f.png)

[2017-08-23 21:28] katrialesser commented on #55
1. Yeah, we could do this.
2. No, we can't - the width is automatic, i have adjusted to be similar/good looking but we can't.
3. I will go check for padding / circle shape differences, a slight difference at one breakpoint emerged when we moved to the new site.
3b. I have never seen a mockup or spec for any hover effect.
4. can bold the button.
5. Yes, but would take a little time to redo it.
6. Y

[2017-08-23 21:29] Aleniras commented on #48
wow! thanks!

[2017-08-23 21:31] katrialesser commented on #57
We didn't have complete specs and had to guess from pictures. We could adjust as an enhancement request.

[2017-08-24 16:46] snelg commented on #55
It's not hard at all to change the dots on the map, if you're talking about the "one dot per state" dots on the US map.

[2017-08-24 16:51] snelg commented on #55
Oh, sorry, I got the numbering mixed up and thought Katria was saying changing the map dot color was "5. Yes, but would take a little time to redo it."
But I see that the map dots are actually answer number 6, with which I concur :)

[2017-08-24 16:54] snelg commented on #55
Also, the "not-quite-circular" dots on the *Admissions* page are now fixed. Unfortunately, the dots on that page are generated a bit differently than on the About page, so I can't make the same quick fix here.

[2017-08-24 16:55] Aleniras commented on #55
Thanks Glen!

[2017-08-29 15:57] katrialesser commented on #32
Devin placed & finalized styling issues, added fallback for if no events highlighted on calendar site.

[2017-08-29 15:57] #32 closed

[2017-08-29 16:02] katrialesser commented on #55
Everything on here is done except the See More hover effect. That is something that we didn't ever get a spec for so it has to be after the other priorities.

[2017-08-29 16:02] #55 closed

[2017-08-29 16:03] katrialesser opened #70 "See More Instagram Hover"
See more: add hover function (light grey?).

[2017-08-29 16:15] snelg commented on #54
Done

[2017-08-29 16:15] #54 closed

[2017-08-29 16:19] devingd commented on #58
WIP - Found out the cause of this. Should only happen when a screen is > 2400px, but is part of a different issue that I'm also working to resolve.

[2017-08-29 16:23] katrialesser commented on #34
Implemented and tested at all breakpoints

[2017-08-29 16:23] #34 closed

[2017-08-29 16:24] devingd commented on #57
This is part of another issue I'm working on. I have the fix in place, just waiting to commit until other changes are done.

[2017-08-29 16:24] #48 closed

[2017-08-29 16:24] devingd commented on #52
Made the change. Closing.

[2017-08-29 16:24] #52 closed

[2017-08-29 16:25] katrialesser commented on #49
This is working.

[2017-08-29 16:25] #49 closed

[2017-08-29 16:26] katrialesser commented on #56
Small links have hover, and page is properly displaying with widths specified in specs.

[2017-08-29 16:26] #56 closed

[2017-08-29 16:31] Aleniras opened #71 "BYU logo slide in"
Please apply the slide in effect only on the home page

[2017-08-29 16:33] devingd commented on #28
Academic calendar has been implemented. Closing.

[2017-08-29 16:33] #28 closed

[2017-08-29 16:34] katrialesser commented on #25
Was implemented a while ago.

[2017-08-29 16:34] #25 closed

[2017-08-29 16:35] katrialesser commented on #50
Implemented.

[2017-08-29 16:35] #50 closed

[2017-08-29 16:35] devingd commented on #29
Closing this issue since the specs have been determined. Joann is opening a new issue that includes finishing the implementation of this feature.

[2017-08-29 16:35] #29 closed

[2017-08-29 16:36] katrialesser commented on #71
This is actually more difficult to do since we need to have it be a setting inside the components, so we will need to finish other items first.

[2017-08-29 16:36] katrialesser commented on #12
The map area has been completely finished.

[2017-08-29 16:36] #12 closed

[2017-08-29 16:36] devingd commented on #10
Completed

[2017-08-29 16:36] #10 closed

[2017-08-29 16:37] katrialesser commented on #31
@Aleniras Yes he built it with flexbox, and it is all done.

[2017-08-29 16:37] #31 closed

[2017-08-29 16:38] katrialesser commented on #26
Glen added updates to this from our last meeting and it is all looking good.

[2017-08-29 16:38] #26 closed

[2017-08-29 16:42] katrialesser commented on #23
Already implemented.

[2017-08-29 16:42] #23 closed

[2017-08-29 16:43] katrialesser commented on #27
Implemented, with slight adjustments from our last meeting for accessibility.

[2017-08-29 16:43] #27 closed

[2017-08-29 16:46] katrialesser commented on #35
All implemented.

[2017-08-29 16:46] #35 closed

[2017-08-29 16:47] katrialesser commented on #18
This was approved in our last meeting, all done.

[2017-08-29 16:47] #18 closed

[2017-08-29 16:49] katrialesser commented on #22
Implemented WITH new hover styles requested in last meeting.

[2017-08-29 16:49] #22 closed

[2017-08-29 16:49] geogor37 opened #72 "Accessibility Issues"
The following are all the accessibility issues discovered by auditing various pages on the web site:

**Home Page:**
- Image elements do not have `[alt]` attributes.
[code]
- Background and foreground colors do not have a sufficient contrast ratio.
[code]
- `[user-scalable=“no”]` is used in the `<meta name=“viewport”>` element and the `[maximum-scale]` attribute is less than 5.

**About Page:**
-

[2017-08-29 16:49] snelg commented on #53
Done

[2017-08-29 16:49] #53 closed

[2017-08-29 16:49] katrialesser commented on #20
This was implemented by Glen

[2017-08-29 16:49] #20 closed

[2017-08-29 16:50] snelg commented on #19
Done

[2017-08-29 16:50] #19 closed

[2017-08-29 16:50] katrialesser commented on #5
All implemented.

[2017-08-29 16:50] #5 closed

[2017-08-29 16:50] katrialesser commented on #36
This has all been implemented.

[2017-08-29 16:50] #36 closed

[2017-08-29 16:51] #30 closed

[2017-08-29 16:52] katrialesser commented on #51
This space exists on each of these pages.

[2017-08-29 16:52] #51 closed

[2017-08-29 16:53] jvogtman opened #73 "Search AutoComplete"

[2017-08-29 16:55] jvogtman opened #74 "Google Search Overlay"

[2017-08-29 16:55] jvogtman opened #75 "Home Page Needs H1 Tag"

[2017-08-29 16:56] jvogtman opened #76 "BYU Logo Drop in only on Home Page"

[2017-08-29 16:56] jvogtman opened #77 "Y Facts - Space above Academic Tiles"

[2017-08-29 16:57] jvogtman opened #78 "Academics Page x1824 Photo number and description needs to be fixed - see design"

[2017-08-29 16:58] jvogtman opened #79 "Campus Life - Grey under Y facts is too light"

[2017-08-29 16:59] jvogtman opened #80 "A to Z index fix spacing between letters"

[2017-08-29 16:59] jvogtman opened #81 "A to Z index - add/proof links"

[2017-08-29 17:00] jvogtman opened #82 "Pre Launch Survery - Questions from Joe - Add to existing home page"

[2017-08-29 17:00] jvogtman opened #83 "Post Launch Survey Questions - Questions from Joe"

[2017-08-29 17:11] jvogtman opened #84 "Analytics in New Site"

[2017-08-29 17:12] jvogtman opened #85 "Pure Chat"

[2017-08-29 17:13] jvogtman opened #86 "Colleges & Departments - port over from old site"
Re-entered by Kate

[2017-08-29 17:13] jvogtman opened #87 "CAS for Home Page"

[2017-08-29 17:14] jvogtman opened #88 "Somethings Links - Joe Hadfield"

[2017-08-29 17:14] jvogtman opened #89 "Search Styling"

[2017-08-29 17:15] jvogtman opened #90 "Y Facts Change at 2300 px up"
Possible duplicate issue

[2017-08-29 17:23] jvogtman opened #91 "Header Loading Enhancements"

[2017-08-29 17:30] Aleniras opened #92 "Links on Admissions"
A couple people have mentioned to me that the organization here seems off. Is there any way to put "headers" at the top of the three columns, and add/adjust link placement so the organization is a little more clear?

![image](https://user-images.githubusercontent.com/26605197/29834874-57567d5c-8cad-11e7-85dd-a2886bdad2d6.png)

[2017-08-29 17:32] snelg commented on #92
What should the headers say? How exactly do you want the existing links adjusted?

[2017-08-29 17:32] Aleniras opened #94 "Footer"
Please use the space between "contact" and the social media links and match the other columns to it

![image](https://user-images.githubusercontent.com/26605197/29834954-95dfc790-8cad-11e7-871a-c3716b665299.png)

[2017-08-29 17:33] Aleniras opened #95 "search box"
please remove grey outline on the search box. this was not in the original spec.

![image](https://user-images.githubusercontent.com/26605197/29835040-ea686cc2-8cad-11e7-9afe-cf3b5781b088.png)

[2017-08-29 17:36] Aleniras opened #96 "Academic Calendar"
1. Calendar carried over hover functionality, but it is not clickable on the academics page. Please remove the hover effect.
2. Please remove blue outline box that appears in active state
3. Lets make the months text size (16px) as big as the #s (18px). That seems more hierarchally accurate. (maybe I should ask Michael's team?)
4. Can we shorten the line at left dividing the links so it isn't runn

[2017-08-29 17:37] jvogtman commented on #76
Duplicate of one created by Aleni

[2017-08-29 17:37] #76 closed

[2017-08-29 17:37] devingd commented on #75
Added H1 tag. Waiting for pull request before closing.

[2017-08-29 17:42] Aleniras commented on #92
@snelg This is assigned to Joe because I think he and I need to discuss. The feedback I received just said it would make more sense having the three grey headers at the top of each column with links underneath. I'll need to ask @hadfieldjoe if that works in his plan though.

[2017-08-29 17:43] Aleniras commented on #78
Please also left align academic news, and remove the padding on the left and right of the 3 rankings boxes so they align with the news beneath.

![image](https://user-images.githubusercontent.com/26605197/29835467-557903cc-8caf-11e7-8d83-844a4d586d94.png)

[2017-08-29 17:47] devingd commented on #75
PR #93 merged.

[2017-08-29 17:47] #75 closed

[2017-08-29 17:48] katrialesser commented on #80
Done! adjusted spacing as discussed.

[2017-08-29 17:48] #80 closed

[2017-08-29 17:49] katrialesser commented on #81
These links should all be done.

[2017-08-29 17:49] #81 closed

[2017-08-29 17:49] katrialesser commented on #74
We have the search results showing in the page now.

[2017-08-29 17:49] #74 closed

[2017-08-29 17:50] Aleniras opened #97 "ABOUT"
1. Please add a navy blue transparent box on top of the hero photo on this page. Currently can't read "About" (Blue: #002E5D, 35% transparency)
2. Please put an em dash before "Henry B. Eyring" instead of a dash and remove the period at the end of "Saints"
3. "Largest Undergraduate.." looking bettter! Please drop the italics and so it looks like "Student Demographics" below, except white. (Also ne

[2017-08-29 17:54] devingd commented on #78
The "Academic News" heading and alignment are part of another issue with the Y Facts banner, that I'm working on and will be fixed as a result of that.

The news articles are coming from the news web component. In trying to figure out why they disappeared, I checked the network and the service from the web component is not returning any content - so that's an issue with the web component, not our

[2017-08-29 18:01] devingd commented on #90
Duplicate of #58

[2017-08-29 18:01] #90 closed

[2017-08-29 18:14] Aleniras opened #100 "home: hero image mystery grey bar"
1. please remove the grey line that is currently visible left of the hero image.
2. line height between event and time of event needs to shrink. (see attached)
3. Hero should be H1 and "highlighted events should be H2" per the spec. They currently look like the same size.

![image](https://user-images.githubusercontent.com/26605197/29836815-95a393c8-8cb3-11e7-9ffb-7c5644d1837e.png)

![image](https

[2017-08-29 18:30] Aleniras opened #102 "Y Facts banner"
Still seeing this white shape appear:

![image](https://user-images.githubusercontent.com/26605197/29837595-cbeda930-8cb5-11e7-82d5-0de0fc10f048.png)

![image](https://user-images.githubusercontent.com/26605197/29837605-d1d93dd2-8cb5-11e7-9108-f8240ab241c1.png)

[2017-08-29 18:33] Aleniras opened #103 "Admissions: Freshman Profile"
- "Freshman Profile" Should be an H2 tag and match "Student Demographics" sizing on about page.
- small text in freshman profile "Applications, New Freshman, etc." should be H9 according to spec sheet, which is gotham medium instead of light.
- "per semester" is also gotham medium according to the spec sheet

![image](https://user-images.githubusercontent.com/26605197/29837754-53dff582-8cb6-11e7-9

[2017-08-29 18:42] katrialesser commented on #97
1. The images should be prepared before hand. We can't add in html that will only be there for one page; they all use the same html. We need you or Joe to send us a modified photo how you want.
2. done
3. We couldn't use the exact H2's because H2's don't display inline. I will add in the same responsive styling. I adjusted all the padding for the existing font size, so I will have to adjust the pa

[2017-08-29 18:47] katrialesser commented on #102
This is a duplicate issue and Devin is already working on it right now.

[2017-08-29 18:47] #102 closed

[2017-08-29 18:48] katrialesser commented on #95
Was added by google search that we added, i removed it.

[2017-08-29 18:48] #95 closed

[2017-08-29 18:50] katrialesser commented on #94
@Aleniras these columns are equal and the spacing is even. I don't know exactly what you are wanting changed, but these are the exact footer specs for the normal components.
If you want to change it, it should change for all web components.

[2017-08-29 18:52] Aleniras commented on #97
Thanks @katrialesser

We can move the male/female text-in-bar positioning to 2.0. I just noticed that since we didn't shrink the height of the bar like in the mock-ups there wasn't a reason to move the text out.  The rest of this looks good. thanks.

[2017-08-29 18:53] Aleniras commented on #94
@katrialesser yes, it all looks good except for the spacing inbetween the line and the start of content. I'll attach a picture so I don't sound so confusing :)

[2017-08-29 18:57] katrialesser commented on #100
1. That line of gray was in the image provided.
http://www-test.byu.edu/sites/default/files/2017-07/origami.png
I will crop it and reupload it.
2. The spacing is from your specs for H5's, we might have to come back to that as it's different from the specs.
![image](https://user-images.githubusercontent.com/12898896/29838672-14186170-8cb9-11e7-8907-4cbfaf823475.png)
3. The H1 tag for the homepage c

[2017-08-29 18:57] Aleniras commented on #94
The icons have more space above them than the text does, and I'd love for the text to line up vertically with the top of the icons. Is that more clear?

![image](https://user-images.githubusercontent.com/26605197/29838814-7d29fe94-8cb9-11e7-9893-9e5bc782b748.png)

[2017-08-29 19:03] Aleniras commented on #100
@katrialesser Lets chat about this in our next meeting. I think there might be an easy fix. Thanks for fixing that image!

[2017-08-29 19:04] katrialesser commented on #100
Image cropped and reuploaded. Closing. I did add quickly the spacing change that was different from the specs.

[2017-08-29 19:04] #100 closed

[2017-08-29 19:34] katrialesser commented on #88
I have set up CAS so Joe can now add the links and change content a bit here and there.

[2017-08-29 19:39] katrialesser commented on #87
Done.

[2017-08-29 19:39] #87 closed

[2017-08-29 19:39] katrialesser commented on #87
Also added accounts for us and Joe

[2017-08-29 19:41] katrialesser commented on #96
You should send these requests to Michael to make on his end, as well as having us make them here. There are two separate places of code now. @Aleniras

[2017-08-29 19:42] katrialesser commented on #89
Fixed the Google background in the search box and styled the search results using our colors and fonts with nicer padding.

[2017-08-29 19:42] #89 closed

[2017-08-29 19:43] katrialesser opened #106 "Fix Search button click to successfully trigger google search"

[2017-08-29 20:01] katrialesser commented on #103
1. It is an H2 now
2. Glen adjusted the text because if it was as large as an H9 it won't fit like it does in your design. The way he adjusted it to 14px, it fits consistently at all breakpoints. You can see that it's too big:
![image](https://user-images.githubusercontent.com/12898896/29841273-0eb303b2-8cc2-11e7-8471-44e5298cf5d5.png)

3. I have added that.

[2017-08-29 20:01] #103 closed

[2017-08-29 20:03] katrialesser commented on #79
We discussed this possibility but decided not too because the navy text would be hard to read. we adjsuted font color to white in some places.

[2017-08-29 20:03] #79 closed

[2017-08-29 20:03] Aleniras commented on #103
great. Thanks @katrialesser !

[2017-08-29 20:05] katrialesser commented on #86
I fixed an issue with the view and I believe it is all sorting properly now. I also tweaked styling to use the new fonts.

[2017-08-29 20:05] #86 closed

[2017-08-29 20:07] katrialesser commented on #16
This is a duplicate issue of #78

[2017-08-29 20:07] #16 closed

[2017-08-29 20:17] Aleniras commented on #96
@katrialesser I have asked Michael to change the font sizes. It seems he doesn't need to remove the hover (since it has popups on their end). Let me know if you have any other questions!

[2017-08-29 20:24] katrialesser commented on #72
I've added alt tags to the icons mentioned for About and Admissions.

[2017-08-29 20:54] Aleniras opened #109 "button"
please format buttons to be the same length where possible, and with the same size font inside. (preferably follow the second formatting). Also.. looks like these blues are different?

![image](https://user-images.githubusercontent.com/26605197/29843606-b8ff4b80-8cc9-11e7-9a51-4cc7d4f60f1d.png)

![image](https://user-images.githubusercontent.com/26605197/29843628-cb019a54-8cc9-11e7-8b8c-b047c6c17c

[2017-08-29 20:56] Aleniras commented on #97
@katrialesser Can you please drop the weight on the "Largest Undergraduate"? It would be best to have this match the same weight as student demographics.

[2017-08-29 20:56] snelg commented on #85
Done

[2017-08-29 20:56] #85 closed

[2017-08-29 21:30] katrialesser commented on #109
We do padding on buttons not hard coded length/width because it will break if they change the button label later.
We could consider a min-width.

[2017-08-29 21:34] jvogtman opened #110 "Somethings - Scroll wheel not working to select image to go to link"
Using the scroll wheel on the mouse to click on the images or the titles for the "somethings" does not open a new tab, but clicking on them with the mouse does work. Clicking on the description works for the mouse and the scroll wheel

From OSC Service Desk

[2017-08-29 21:37] jvogtman opened #111 ""About" page, the link for "Directories" just goes back to the home page."
Is this an issue for Joe Hadfield or us?

[2017-08-29 21:41] jvogtman opened #112 "For Blake Morgan - News: Under the academics heading, at the bottom where the Academic News is located, each story just leads to the whole news-dev site, rather than the specific stories"
Under the academics heading, at the bottom where the Academic News is located, each story just leads to the whole news-dev site, rather than the specific stories

[2017-08-29 21:45] jvogtman opened #113 "Instagram links - new tab or same page?"
When clicking on the instagram posts on the about page, each of the individual posts opened up in a new tab, but the "see more" linked redirected my current tab. Note sure if that is intentional, but it seems like consistency would be preferred.

[2017-08-29 21:47] jvogtman opened #114 "Related Schools Link in Footer - Error in links"
The Related Schools link at the bottom of each page has some miss-matched links. LDS Buisness College links to Pathway, Pathway links to CES, and CES linkes to LDS Business College.

https://www.ldsbc.edu/

https://pathway.lds.org/Main/BYUPW

https://www.lds.org/church-education

[2017-08-29 21:59] hadfieldjoe commented on #113
All of those should open in a new tab. thanks!

[2017-08-29 22:39] katrialesser commented on #113
Fixed!

[2017-08-29 22:39] #113 closed

[2017-08-29 22:40] #114 closed

[2017-08-29 22:41] katrialesser commented on #111
Fixed! Thanks

[2017-08-29 22:41] #111 closed

[2017-08-29 22:45] jvogtman commented on #112
Couldn't find Blake to assign this to him so I sent him a Slack message.  Here is his reply:  Blake Morgan [3:50 PM]
Yes. That has been fixed. We are putting finishing touches on the component, then doing a stable release. Once that is done, the error will be gone.

[2017-08-29 22:59] katrialesser commented on #106
Got this working with javascript function.

[2017-08-29 22:59] #106 closed

[2017-08-29 23:05] jvogtman opened #118 "Instagram images - cut off for one user"
https://slack-files.com/T0311JJTE-F6WCPSW4E-2b900c5b79

[2017-08-29 23:08] jvogtman commented on #72
I will assign this to Joe and Aleni in addition to Katria.  Some are design contrasts that fail the Accessibility tests.  Katria has fixed the alt tags and will make a visual list of the ones that are design issues.

[2017-08-29 23:26] katrialesser opened #119 "Katria go back n fix largest y facts about section"
After adjusting it to match the height class as aleni asked, I have to redo the passing and height etc.

[2017-08-30 01:36] katrialesser commented on #72
Design / Color Contrast Issues:
1. I think this passes AA but not AAA, and Joe said we can do AA, so i think this is okay:
![image](https://user-images.githubusercontent.com/12898896/29851034-09ed9bd0-8cef-11e7-8d2c-0d9d80be5bbb.png)

2. It says the contrast is not enough for the footer text. It's #666 over #e5e5e5 which passes most accessibility checks, although I agree darker would improve reada

[2017-08-30 15:26] katrialesser opened #121 "Header Image wonky in firefox at several screen sizes"
It is not stretching full width.
![image](https://user-images.githubusercontent.com/12898896/29880561-4ded9148-8d65-11e7-99ad-7adf46405d4d.png)

![image](https://user-images.githubusercontent.com/12898896/29880571-5587fd1c-8d65-11e7-92c0-3869a68b2802.png)

[2017-08-30 15:32] katrialesser opened #122 "Images blurry at some breakpoints"
![image](https://user-images.githubusercontent.com/12898896/29880611-747030a0-8d65-11e7-82c7-d9f08483a129.png)

[2017-08-30 15:48] jvogtman opened #123 "Marriott School updated page - new links (Schools & Departments)"
MPA = https://marriottschool.byu.edu/mpa
Executive MPA = https://marriottschool.byu.edu/mpa   (same page)
Recreation Management = https://marriottschool.byu.edu/bsrecm/

[2017-08-30 15:49] snelg commented on #73
Done

[2017-08-30 15:49] #73 closed

[2017-08-30 15:55] katrialesser commented on #119
Fixed for new font sizes.

[2017-08-30 15:55] #119 closed

[2017-08-30 15:56] katrialesser commented on #118
I can't reproduce this in any browser.

[2017-08-30 16:44] katrialesser commented on #121
Fixed this, it is related to issue #122 , asking Sherwin to tell me what he figured out about that issue.

[2017-08-30 16:44] #121 closed

[2017-08-30 16:44] katrialesser commented on #122
I asked Sherwin to tell me what he figured out about that issue.

[2017-08-30 16:46] katrialesser opened #126 "Improve animations for about on mobile"
65% isn't working, need to show it from the start.
sometimes the student demographics bar doesn't fill out - maybe we should remove it?

[2017-08-30 16:53] snelg commented on #110
Done

[2017-08-30 16:53] #110 closed

[2017-08-30 19:17] snelg commented on #122
Found typo, fixed

[2017-08-30 19:17] #122 closed

[2017-08-30 19:45] katrialesser commented on #126
Found the issue, Glen is going to split up one of our functions so it's 2 and they each run separately.

[2017-08-30 19:46] katrialesser commented on #88
I saw that Joe added links here.

[2017-08-30 19:46] #88 closed

[2017-08-30 19:49] katrialesser commented on #123
These are updated in Department list.

[2017-08-30 19:49] #123 closed

[2017-08-30 19:52] katrialesser commented on #72
@Aleniras I need a color to update for that medium blue asap. We can update that color in one place and have it apply everywhere. Please send us an alternate / darker medium blue if that is what we need to do and please address these items.

[2017-08-30 20:26] snelg commented on #126
Fixed

[2017-08-30 20:26] #126 closed

[2017-08-30 20:27] Aleniras commented on #72
1. lets leave as is
2. lets leave as is (we'll be using a larger font on the next version that will help). Please do change the non-link items to black though. address, etc.
3. can we bold the small text in freshman profile so it will pass?
4. same thing - - will it pass if it is bold?
5. matches the ones above so should pass AA
5b. yes
6. sorry; I wasn't aware I needed to do that. Navy to royal w

[2017-08-30 20:28] Aleniras commented on #72
@katrialesser let me know if any of these don't work. If so, I will re-address. I think picking a darker "medium blue" would be too close to the navy, and I'd like to not eliminate the medium blue if we can help it so that's why I made different suggestions.

[2017-08-30 20:29] Aleniras commented on #72
@hadfieldjoe Feel free to chime in wherever you disagree!

[2017-08-30 20:37] katrialesser commented on #72
@Aleniras - please advise on 3 & 4
1. okay
2. that would be good, i'll adjust text color
3. It has to go up to font size 18px to pass, font bolding doesn't make it pass.
4.  same answer
5. oh, agreed it probably passes AA not AAA, ok
6. It was on one of the small pages, I was guessing we'd probably do the standard. ok.

[2017-08-30 20:42] Aleniras commented on #72
@katrialesser let me try some options and send you an update.

[2017-08-30 20:47] Aleniras commented on #72
@katrialesser lets change these to navy blue:
![image](https://user-images.githubusercontent.com/26605197/29894313-25d18d90-8d92-11e7-9d05-93a2b530c2f5.png)

[2017-08-30 21:05] katrialesser commented on #72
Okay. let me know what you want for #4. @Aleniras

[2017-08-30 21:06] Aleniras commented on #72
@katrialesser lets do this:
 - change all text to navy blue
 - make icons grey (should I resend these?)

@hadfieldjoe can we change "avg. application scores" to "avg. test scores"?

![image](https://user-images.githubusercontent.com/26605197/29895023-c467b28e-8d94-11e7-86b0-1b1310317169.png)

[2017-08-30 21:09] Aleniras commented on #72
@katrialesser we'll change those to navy as well:

![image](https://user-images.githubusercontent.com/26605197/29895116-28bd01a8-8d95-11e7-9d8b-109e59e90ebe.png)

[2017-08-30 21:15] Aleniras opened #128 "MOBILE Admissions (iphone 6)"
Admissions
1. Please make note at bottom span only the width of the 2 yellow boxes. (add padding right and left)

![image](https://user-images.githubusercontent.com/26605197/29895263-b676222c-8d95-11e7-857f-bc2ffaa3a0f9.png)

2. Padding under hero images on mobile should be half of what it is on desktop (40px?)

![image](https://user-images.githubusercontent.com/26605197/29895324-e7c6964a-8d95-11e

[2017-08-30 21:21] katrialesser commented on #72
Okay sounds good. thanks @Aleniras

[2017-08-30 21:24] Aleniras opened #129 "MOBILE About (iphone 6)"
1. any way to make these numbers stay aligned with the dots on mobile?

![image](https://user-images.githubusercontent.com/26605197/29895548-b4b3cb64-8d96-11e7-9c7e-c1eb2213d164.png)

2. Can we subtract spacing under states so the map and the title look like they belong together?

![image](https://user-images.githubusercontent.com/26605197/29895566-c3e921e2-8d96-11e7-85cb-46c7897077c4.png)

3. Cir

[2017-08-30 21:32] Aleniras opened #130 "MOBILE Academics (iphone 6)"
1. Please add padding on mobile before "Winter Semester"
![image](https://user-images.githubusercontent.com/26605197/29895832-d56aee18-8d97-11e7-827c-1b272cbe0d21.png)

2. Please fix mobile view of cards. (numbers should be white and large. Padding under "university" line on all three is larger than the rest. All three should be the same color.)

![image](https://user-images.githubusercontent.com/

[2017-08-30 21:40] Aleniras opened #131 "MOBILE Campus Life (iphone 6)"
1. please center soccer ball
![image](https://user-images.githubusercontent.com/26605197/29896234-6ae3dbca-8d99-11e7-8818-593c349663c5.png)

[2017-08-30 21:41] katrialesser commented on #72
@Aleniras is the paper icon supposed to have gray lines inside or not? that makes a difference

[2017-08-30 21:41] Aleniras commented on #72
yes. (sorry, mine are blue, but the whole icon should be gray)

[2017-08-30 21:44] Aleniras commented on #109
@katrialesser that's fine to add padding; can we make sure the font size + color is the same though? and have them be ALL CAPS consistently?

[2017-08-30 21:45] Aleniras commented on #109
this is from the spec sheet:
![image](https://user-images.githubusercontent.com/26605197/29896442-35d606f0-8d9a-11e7-91b1-2ea189b1dded.png)

[2017-08-30 21:56] katrialesser commented on #72
okay thanks for confirming.

[2017-08-30 21:57] katrialesser commented on #72
which gray @Aleniras ?

[2017-08-30 22:04] hadfieldjoe commented on #72
Okay I am late to the accessibility party today (University Conference mtgs and such). Looks like most/all have been answered?

[2017-08-30 22:10] hadfieldjoe commented on #92
Valid feedback. First reaction is to name the first column "Resources" and move "My Financial Center" into that list. Then name the third column as "Common Questions", eliminate "Transfer credits" as a subheader, and change the last link to "Credits from Other Colleges"

[2017-08-30 22:16] Aleniras commented on #72
#666 @katrialesser

[2017-08-30 22:33] devingd commented on #78
#133 (addressing these issues) has been merged to master and updated on the test site.

[2017-08-30 22:33] #78 closed

[2017-08-30 22:33] devingd commented on #77
#133 solved this.

[2017-08-30 22:33] #77 closed

[2017-08-30 22:39] devingd commented on #57
I removed the largest breakpoint (see #133). #134 changes the navy color to the darker navy color.

[2017-08-30 22:39] #57 closed

[2017-08-30 22:50] katrialesser commented on #129
1. That is impossible to have it centered below the dot; the 2,000 number will go off the screen.
2. That space is where the states are listed. We can check why they aren't showing up.
3. we can check on that.
4. that is because of the font sizes you gave us in the specs. We can see about adjusting the specs.

[2017-08-30 22:57] katrialesser commented on #72
@hadfieldjoe are you happy with these decisions?

[2017-08-30 23:01] Aleniras commented on #129
1. Sorry wasn't clear. Can you just line up the 3 with the dot and the 2 with the dot so they don't look like they're floating?
2. thanks
3. thanks
4. font size looks fine, just for some reason it is pushing a two letter word down to the next line despite there being plenty of space to the right.

[2017-08-30 23:15] katrialesser commented on #129
1. By line it up you mean move them both like 5px to the left? We have an algorithm placing them currently based on the % of the bar, so we might have to do that later as an enhancement.
4. This is what I show at 320px. It looks like we have to make the font size smaller for it to fit. We have padding on each side of the page as the design requires, and the words can't all fit. We can make it a li

[2017-08-30 23:16] Aleniras commented on #129
sounds good. thanks

[2017-08-30 23:17] katrialesser commented on #129
I will give that a try, but also we need it to be smaller if you want one line. this is without the max width:
![image](https://user-images.githubusercontent.com/12898896/29899163-0946ae34-8da7-11e7-9ad3-a32e3d5b00e4.png)

[2017-08-30 23:18] katrialesser commented on #129
it has to go down to 14px to fit

[2017-08-30 23:18] Aleniras commented on #129
Looks like it won't fit on one line at 320 no matter what we do. Ideally, we could just get it to one line when "in" ends up by itself. Also, I think the line height of "14 certifications" should match "65%..." above it though, right?

[2017-08-30 23:24] katrialesser commented on #72
all of these items have been taken care of. @hadfieldjoe  if you want something changed, we can reopen this issue.

[2017-08-30 23:25] katrialesser commented on #129
it will fit if i change it to 14px.
if it did go to a new line, it should yes; but that is the kind of strange thing about all the line heights in the specs, that they have line heights preset that don't always match what is needed.

[2017-08-30 23:26] katrialesser commented on #129
It fits on one line now at 320px.

[2017-08-31 15:14] Aleniras commented on #129
hmm.. so there's no way to keep it at the same font as the "65%..." and have the "in" on one line?

[2017-08-31 15:16] Aleniras opened #139 "H tag"
Did we change an H tag? I noticed three places the font increased in size (this isn't bad - - I just want to make sure it's intentional and won't change again. We'll probably need to adjust line height if this is intentional.)

Also, if this is staying at is, please remove the hard breaks on Henry B. Eyring so it is only on two lines.

![image](https://user-images.githubusercontent.com/26605197/29

[2017-08-31 16:15] hadfieldjoe commented on #71
Let us know how difficult. If it comes down to it, I'd rather have no slide in effect at all than have it slide in every time somebody clicked a section. But the ideal is slide in the first time the home page loads in a browser.

[2017-08-31 17:12] hadfieldjoe commented on #82
Below are the four questions we want to ask in the pre-survey. Several of you mentioned that we should stay away from a five-point scale, but there are two reasons I'd like to keep it for the first two questions. The last time we launched a new BYU home page, the pre- and post-launch surveys were done on a five-point scale. Also, Amazon, Facebook and Google have made the five-star ratings system u

[2017-08-31 17:13] hadfieldjoe commented on #82
also it would be lovely if we could capture device information from the user (mobile vs non-mobile).

[2017-08-31 17:23] Aleniras commented on #97
@katrialesser Can you please drop the weight on the "Largest Undergraduate" to be 400? It should match in weight and size the "Student demographics" just beneath it.

[2017-08-31 18:42] snelg commented on #131
The .svg file as delivered *is* centered. It's also replaceable via the admin interface on the site.
But I tweaked the svg file in this case to shift the soccer ball down a couple of pixels, and re-uploaded it on the site.

[2017-08-31 18:42] #131 closed

[2017-08-31 19:15] snelg commented on #128
Updated as requested

[2017-08-31 19:15] #128 closed

[2017-08-31 19:16] #24 closed

[2017-08-31 19:29] katrialesser commented on #139
@Aleniras if you are referring to h3's, that was a line height question we had a long time ago and it didn't get added to have bigger line height for the other sizes. Imade a note about it in the code. I've added that update; we'll need to check around and see if this breaks anything anywhere else.
The font size is matching the specs exactly.

[2017-08-31 19:29] #139 closed

[2017-08-31 19:30] katrialesser commented on #122
Glen said he fixed this issue, he found a typo

[2017-08-31 19:33] #118 closed

[2017-08-31 19:34] katrialesser commented on #91
I fixed this in the components :)

[2017-08-31 19:34] #91 closed

[2017-08-31 19:50] devingd commented on #130
@Aleniras

1. I'll fix this

2. I fixed the number color issue yesterday (#77). The font sizes/classes used are the ones from the spec. sheet, to my knowledge (done before I started helping with this). What size do you want them to be if they're not big enough now? Also, should the '#' be white, too? (is gray right now)

3. Changed when working on #77. Let me know if I need to adjust it more.

4.

[2017-08-31 19:55] jvogtman opened #140 "Add OIT to the Footer on Campus Life Resources"

[2017-08-31 20:02] katrialesser commented on #140
Done, in both places footer & campus life.

[2017-08-31 20:02] #140 closed

[2017-08-31 20:04] katrialesser commented on #94
Thanks Aleni. Glen pointed out that this is an issue in the normal components if they have the social media icons first in the footer column. We should probably suggest they do the same fix we are doing or change it; adding an attribute so they can specify if it's first to have different spacing.

[2017-08-31 20:06] katrialesser commented on #129
The only way to have them match is to have that one smaller too.. I can't make it fit without a smaller font size, it's just math at this point.

[2017-08-31 20:11] katrialesser commented on #129
@Aleniras #3 is because with your specs, of at 320px width having the circles be 156px wide, it doesn't fit with the spacing on the edges of the page.. So do you accept changing the spec to 140 or 245px width for small mobile? We have to adjust it or it won't fit 320px - 20px on each side only leave you 280px.. If we go down to 140px the font size doesn't fit. This is 145px:

![image](https://user

[2017-08-31 20:17] katrialesser commented on #129
@Aleniras it seems like your mockup software isn't giving you accurate sizes to scale. Is there a way you can improve or adjust how it is giving you sizes/width/font sizes?

[2017-08-31 20:24] Aleniras commented on #139
@katrialesser was there a reason it was changed this week?

[2017-08-31 20:30] Aleniras commented on #130
1. thank you
2. Lets make the number 55px at mobile width please
3. looks perfect.
4. agreed - - do you know who is building that component?

[2017-08-31 20:31] Aleniras commented on #94
yes; sounds great! would you like me to handle that or do you want to pass it along?

[2017-08-31 20:34] katrialesser commented on #82
@hadfieldjoe that device information - can qualtrics capture that?
https://www.qualtrics.com/support/site-intercept/intercepts/intercept-basics/user-info-conditions/
Or maybe there's a way on google analytics we can set up a custom report to check on the link click? Qualtrics is probably better for that.

@hadfieldjoe please approve this popup form or suggest changes: (this is based on the byu the

[2017-08-31 20:35] katrialesser commented on #129
Closing as it is fixed with 145px width now; we can make more enhancements later but the bug is fixed.

[2017-08-31 20:35] #129 closed

[2017-08-31 20:36] Aleniras commented on #129
@katrialesser I think the program is accurate; it looks like I just didn't have as much padding on the sides of mine (see attached). Thanks for making it work.

![image](https://user-images.githubusercontent.com/26605197/29944125-753ab100-8e59-11e7-8bae-2265d0531a70.png)

[2017-08-31 20:37] katrialesser commented on #112
Blake & Devin worked on styling and api/component fixing. This is all working now.

[2017-08-31 20:37] #112 closed

[2017-08-31 20:39] devingd commented on #130
I believe Blake Morgan is the point of contact for that.

[2017-08-31 20:47] katrialesser commented on #109
I see the issue - the specs sheet for this button in Admissions didn't have an H by it. Looks like they guessed it was h9. I'll match it with the h7 used for the button on the about page.

[2017-08-31 20:48] Aleniras commented on #109
Thank you!!

[2017-08-31 22:08] katrialesser commented on #109
Done!

[2017-08-31 22:08] #109 closed

[2017-08-31 22:18] katrialesser commented on #97
The font weight issue is a specs difference so I've done that now. If we could keep enhancements and issues with the current spec/bug fixes in separate issues that would be helpful, thanks @Aleniras
We can come back to the gender bar enhancement after higher priorities are done.

[2017-08-31 22:19] katrialesser commented on #70
@Aleniras before we can do this we need to know what color gray the circle should be and what color the text should be. Thanks!

[2017-08-31 22:32] Aleniras commented on #70
@katrialesser The more I think about this, the more I think it would be best to keep this consistent with everywhere else. Is that okay? Can you please change the color of the "see more" box to be navy, and then on hover turn the box royal blue? The text will not change from white.

[2017-08-31 22:35] Aleniras commented on #70
![image](https://user-images.githubusercontent.com/26605197/29948116-65857e3c-8e6a-11e7-9575-f7b2c6e75db2.png)

![image](https://user-images.githubusercontent.com/26605197/29948125-7419ef46-8e6a-11e7-8fe6-2f023c08c243.png)

[2017-09-01 00:25] hadfieldjoe commented on #82
Form approved!

[2017-09-01 15:12] devingd commented on #130
#148 was merged into master resolving these issues. Closing.

[2017-09-01 15:12] #130 closed

[2017-09-01 15:36] #94 closed

[2017-09-01 15:44] devingd commented on #96
@Aleniras

1. The hover effects  (the little pop-up tooltips that explain in more detail) did come over from Michael's code, but there is something buggy with the Drupal module where the one JavaScript file is not being loaded properly on the page or something. I'm still looking into it. Do we want the hover effects at all or no?

2. sounds good

3. I had to make some changes to the font sizes to

[2017-09-01 16:57] devingd commented on #96
#149 and updated the academic calendar module to reflect these changes. Closing.

[2017-09-01 16:57] #96 closed

[2017-09-01 17:27] snelg commented on #92
Done

[2017-09-01 17:27] #92 closed

[2017-09-01 17:29] Aleniras commented on #97
@katrialesser is going to take care of the blue overlay, as decided in our meeting today.
Blue: #002E5D, 35% transparency (please make sure this matches photo above)

[2017-09-01 17:31] jvogtman opened #150 "About Photo - Add blue overlay"

[2017-09-01 17:32] jvogtman opened #151 "Hero Text - H3 size for paragraph on hero image"

[2017-09-01 17:33] jvogtman opened #152 "Front Page Editor - Edit Hero image, Somethings, Emergency"

[2017-09-01 17:33] jvogtman opened #153 "Speed Load Testing Prior to Launch"

[2017-09-01 17:41] katrialesser commented on #83
Joe has the survey built now

[2017-09-01 17:41] katrialesser opened #154 "Make quote source on about an h9 & test"

[2017-09-01 17:44] jvogtman opened #155 "Talk to Steve Goodman about linking his emergency text in that space"

[2017-09-01 17:50] katrialesser opened #156 "Emergency box styles"
.front-page-emergency-notice {
    margin-top: 65px;
    margin-bottom: 30px;
    background-color: #a90217;
    font-weight: 700;
    text-align: center;
    color: #fff!important;
    /* margin-bottom: 0px; */
    padding: 20px 20px 20px;
    text-transform: ;
    /* border-top: 15px solid #a90217; */
}

//and p & headers white

[2017-09-01 21:05] Aleniras opened #157 "ABOUT: counters broken in safari"
YFacts section on Safari broken. The box sits to the left and none of the words appear in the demographics.

![image](https://user-images.githubusercontent.com/26605197/29987723-cf36e084-8f26-11e7-82d7-bde4af537a1a.png)

![image](https://user-images.githubusercontent.com/26605197/29987766-f079b2c6-8f26-11e7-9cec-a19a4412cfae.png)

[2017-09-01 21:07] Aleniras opened #158 "CAMPUS LIFE on safari problems"
Extra grey space at the bottom of the chocolate milk picture at every width

![image](https://user-images.githubusercontent.com/26605197/29987828-361f768a-8f27-11e7-9875-c7d114e14d2c.png)

[2017-09-01 21:09] katrialesser opened #159 "Update Marriott School to School of Business"
Joe said 2 places - need more specifics from @hadfieldjoe
1. Admissions "school of management & law students"
2.  ?

[2017-09-01 21:10] katrialesser commented on #157
@Aleniras what screen size?

[2017-09-01 21:26] Aleniras opened #160 "IPAD portrait bugs"
1. Any way to make this hero image full width on ipad? If not, can we put a line across the bottom of the search bar so it doesn't look like it's floating? Also, please half the line height between title and copy on the hero caption. We want to avoid it running into the play button.

![image](https://user-images.githubusercontent.com/26605197/29988283-b7ffaa9c-8f29-11e7-9131-6c014041c2a4.png)

2.

[2017-09-01 21:35] Aleniras opened #161 "Hero space"
1. Please make the copy text in the hero box match the copy in the "Something To" section.

![image](https://user-images.githubusercontent.com/26605197/29988443-9576fd94-8f2a-11e7-9287-91e2fd0ac656.png)

![image](https://user-images.githubusercontent.com/26605197/29988543-4932343e-8f2b-11e7-8205-c19a6c234044.png)

2. Please Remove the bold on "Something To" when you hover (should always stay same

[2017-09-01 21:41] Aleniras opened #162 "Admissions on Safari"
1. Please add padding back in between lines and text

![image](https://user-images.githubusercontent.com/26605197/29988674-f2c230bc-8f2b-11e7-989b-cc2e3c75b808.png)

2. Please put "& Law School Students" on second line

![image](https://user-images.githubusercontent.com/26605197/29988704-03b5f00c-8f2c-11e7-90e2-c5c80d8cd8ae.png)

[2017-09-01 21:45] Aleniras opened #163 "Home page: "something to""
1. Please change hover for H3 to turn royal blue instead of going bold. We're running into problems where the text is pushed to a different line only on hover. Also, this will be more consistent with the rest of the site.

2. Can we keep the white width between the Something To sections smaller to match specs? Looks right on ipad width but at desktop the white space seems abnormally large.

3. Ple

[2017-09-01 22:25] snelg commented on #162
Hmm, maybe looks better with the "&" on the first line?
![image](https://user-images.githubusercontent.com/5741887/29989730-1993af6c-8f32-11e7-96c5-a25754f71aea.png)

[2017-09-01 22:56] Aleniras commented on #157
@katrialesser both my ipad and desktop

[2017-09-01 22:58] Aleniras commented on #162
hmmm.. agreed. I like your dev site version with & on the first line. Thanks!

[2017-09-01 23:05] #162 closed

[2017-09-05 16:01] Aleniras opened #164 "Firefox footer"
The titles in the footer on Firefox are centered. Please left align to match other browsers.

![image](https://user-images.githubusercontent.com/26605197/30070577-14aa3a42-9221-11e7-99df-45ad7d2c1b04.png)

[2017-09-05 16:07] Aleniras opened #165 "Academic News"
Please match the firefox version to the others.
(Firefox has CAPS titles, is in vitesse font, and has a grey copy. Should be in normal caps, gotham font, and blue copy)

FIREFOX:
![image](https://user-images.githubusercontent.com/26605197/30070800-d7ab19d0-9221-11e7-98f6-450a12cac1d3.png)

OTHERS:
![image](https://user-images.githubusercontent.com/26605197/30070842-f5e3677c-9221-11e7-8149-246cff9f

[2017-09-05 16:07] devingd commented on #150
@katrialesser @Aleniras  - We decided that overlay(s) should be added to the actual photo(s), not a site/CSS change, correct?

[2017-09-05 16:08] Aleniras commented on #150
Correct!

[2017-09-05 16:09] devingd commented on #150
K, I'll go ahead and assign this one to you, @Aleniras. Feel free to change it if someone else will be doing it.

[2017-09-05 16:10] Aleniras commented on #150
I believe @katrialesser said she'll do this since they already have the image. @katrialesser let me know if you want me to instead!

[2017-09-05 16:12] Aleniras opened #166 "Admissions links (firefox mobile)"
Please add some padding left of the links on Firefox mobile Admissions site. (preferably match the padding on the Academics page links section)

![image](https://user-images.githubusercontent.com/26605197/30071043-9e2a85aa-9222-11e7-8d92-73330b4f9328.png)

[2017-09-05 16:21] devingd commented on #165
Porto theme CSS 'theme-elements.css' for h3's is the culprit here. However, I'm in a meeting and unsure at the moment how would be the proper way to fix this.

[2017-09-05 16:25] Aleniras opened #167 "ABOUT quote"
This is semibold weight at full width and book weight at mobile. According to spec sheet, H9 should always be semibold. Please adjust.

![image](https://user-images.githubusercontent.com/26605197/30071526-3dc61a24-9224-11e7-9cff-44fb8ca9d753.png)

![image](https://user-images.githubusercontent.com/26605197/30071576-6b5f9f1e-9224-11e7-8aa8-0c1108afb48d.png)

[2017-09-05 16:43] katrialesser commented on #167
@Aleniras the h9 specs say semi bold at all sizes.
![image](https://user-images.githubusercontent.com/12898896/30072234-e77d65e8-9226-11e7-9317-806ea031f86b.png)

This is exactly according to the specs. I'd like to point out that we had to guess on what the mobile specs were supposed to be as far as colors - your specs you gave conflicted with each other:
![image](https://user-images.githubusercon

[2017-09-05 16:46] katrialesser commented on #166
@Aleniras this is not specific to firefox. Adding padding is something we can do for mobile versions in all browsers.

[2017-09-05 16:48] Aleniras commented on #167
@katrialesser Please keep it just like that H9 you attached. Should be semibold throughout (not a lighter weight at mobile), and navy blue like the H9 indicates. Thanks.

[2017-09-05 16:52] Aleniras commented on #166
@katrialesser Thanks!

[2017-09-05 16:56] katrialesser commented on #165
This is actually from the home_d8 theme setting. h3 was set to vitesse in the theme settings, and only firefox picked up on that overriding what we wrote in code. I adjusted the theme setting.

Blake needs to adjust the css fix for the navy color of the body. He needs to specify it in the extras.scss file for his component to override the gray. I'll reach out to him.

[2017-09-05 16:57] Aleniras commented on #165
Thanks @katrialesser!

[2017-09-05 16:57] katrialesser commented on #165
You're welcome!

[2017-09-05 17:00] katrialesser commented on #161
1. I already discussed this in another issue; that wasn't specified in the specs to have that as an h3, it can be an enhancement adjustment.
2. We can fix that.
3. The nav bar won't change because we are working the header off of the specs you gave us and we can't redo all the grid sizes for this. We can change the hero to match, but that is different than the page width spec you gave us, so we ma

[2017-09-05 17:01] katrialesser commented on #159
Glen did this last week.

[2017-09-05 17:01] #159 closed

[2017-09-05 17:07] katrialesser commented on #160
1. @Aleniras you told us that the homepage would be a constrained width page and that fields would have padding; so the page has padding. If we take that padding off the page, then we have to add padding to each individual field and approach the padding differently for this entire page. I can see that on mobile it is supposed to stretch full width, but we didn't realize you were asking for full wi

[2017-09-05 17:27] bmorgan296 commented on #165
I've made the change. If you run the component off the `override-theme` branch, you can see if it works. If it does, let me know and I'll create v1.0.1 of the news components.

[2017-09-05 17:38] katrialesser commented on #160
1. Leaving as an enhancement adjustment we could do later
2. done
3. done
4. done

[2017-09-05 17:43] katrialesser commented on #166
Done

[2017-09-05 17:43] #166 closed

[2017-09-05 18:53] snelg commented on #158
Ah, I'd tested this at iPad *width* (both landscape and portrait), but not on an actual iPad.
Fixed now.

[2017-09-05 19:06] hadfieldjoe commented on #152
What is this one about?

[2017-09-05 19:07] hadfieldjoe commented on #151
I think this is already covered in a previous Top Priority issue

[2017-09-05 19:11] hadfieldjoe commented on #84
I'd like analytics continuity so that this data sits in the same place as our current BYU Home page profile in Google Analytics. So we will use the same ID and make the switch as near to launch as we can.

[2017-09-05 19:11] hadfieldjoe commented on #82
We got lots of good data. Thanks!

[2017-09-05 19:12] #82 closed

[2017-09-05 19:13] katrialesser commented on #157
Update: Safari has issues having widths add up to 100%.. i.e. it is breaking because two items are 77% width and 23% width right next to each other. I have fixed the students/total numbers issue.

I'm looking at this issue with safari not working for our Map animations and am working on fixing it.

[2017-09-05 19:19] katrialesser commented on #58
It is barely visible at 2400 but more at 2670px or so.

[2017-09-05 19:26] Aleniras commented on #158
Thank you.

[2017-09-05 19:39] katrialesser commented on #157
I have removed the problematic animations for safari; we will have to work on getting them to work later. It is fixed / nonproblematic, and we could work on animations for it as an enhancement in the next phase.

[2017-09-05 19:39] katrialesser commented on #156
Done

[2017-09-05 19:39] #156 closed

[2017-09-05 19:40] katrialesser opened #174 "hero width (mobile design change that could affect other sizes to change)"
Aleni requested
Any way to make this hero image full width on ipad? If not, can we put a line across the bottom of the search bar so it doesn't look like it's floating? Also, please half the line height between title and copy on the hero caption. We want to avoid it running into the play button.
![image](https://user-images.githubusercontent.com/12898896/30080138-c4b6056a-923f-11e7-8bb5-a7c4e17305

[2017-09-05 19:41] katrialesser commented on #160
Split #1 out to it's own issue.

[2017-09-05 19:41] #160 closed

[2017-09-05 19:43] katrialesser commented on #161
3. Is already a requested enhancement: #174

[2017-09-05 19:43] katrialesser commented on #174
Copying over important info for this issue:
@Aleniras you told us that the homepage would be a constrained width page and that fields would have padding; so the page has padding. If we take that padding off the page, then we have to add padding to each individual field and approach the padding differently for this entire page. I can see that on mobile it is supposed to stretch full width, but we d

[2017-09-05 19:46] katrialesser opened #175 "safari & mac chrome about animation off a bit"
the student number bars have thenumbers and dots 30px too far to the right

[2017-09-05 19:51] katrialesser commented on #97
Uploaded the new file, creating a new issue for item 5 and closing this one

[2017-09-05 19:51] #97 closed

[2017-09-05 19:52] katrialesser opened #176 "adjust gender bar styling for small screens"
Since height of bar never shrinks, lets just leave the male/female #s in the bar like they are at full width

[2017-09-05 19:52] katrialesser commented on #176
split out from #97

[2017-09-05 19:58] katrialesser commented on #161
1. is a duplicate of #151
2. is fixed
3. already duplicate (see above)
@Aleniras if you could please make sure the issue hasn't already been added before submitting that would save me time tracking and closing the duplicates. thanks!

[2017-09-05 19:58] #161 closed

[2017-09-05 20:06] katrialesser commented on #154
This is an enhancement / change from the specs.

[2017-09-05 20:08] jvogtman commented on #17
It appears that we did not limit the amount of style variations and have instead ended up making a significant number of custom styles as work was being done.  The specs did not include the information and it was not standardized.

[2017-09-05 20:12] jvogtman commented on #58
This only happens above 2672 pixels.   The user must have a 4K monitor and could possibly affect up to 4% of users at full screen on a 4K monitor.  This will only happen if they have their settings at max zoom.  We're going to leave this task open but we don't have a current solution and feel that we can roll out without this being resolved.  It should also be considered that at 2400 many other de

[2017-09-05 20:12] #58 closed

[2017-09-05 20:16] devingd commented on #164
#177 opened. Will close when merged.

[2017-09-05 20:26] #164 closed

[2017-09-05 20:27] jvogtman opened #179 "Hero Text Positioning - Add Right and Left Option"

[2017-09-05 20:27] katrialesser commented on #179
![image](https://user-images.githubusercontent.com/12898896/30081972-62fc66d2-9246-11e7-9fe4-c774be6478f5.png)

[2017-09-05 20:31] #167 closed

[2017-09-05 20:32] katrialesser commented on #152
I think this was about editing the hero video inside the front page node.

[2017-09-05 20:32] jvogtman commented on #152
Enhancement to allow Joe to edit the Hero, Something and Emergency from the Front Page.

[2017-09-05 20:36] jvogtman commented on #151
Duplicate and done by Glen already

[2017-09-05 20:36] #151 closed

[2017-09-05 20:37] jvogtman opened #180 "Add Taxonomy to Search Function"

[2017-09-05 20:55] katrialesser commented on #72
I mistakenly closed this - this issue is about half a dozen different accessibility concerns. We still have a concern everywhere that medium blue background has small white text.
* one place is the Featured Calendar:
![image](https://user-images.githubusercontent.com/12898896/30083056-429dbaa4-924a-11e7-9872-f7706ace7171.png)

[2017-09-05 20:56] katrialesser commented on #72
@Aleniras we dealt with many issues above and replaced where you had medium blue text on white background but we never got design answers from you about all the medium blue background with white text. Please get back to us asap with a solution/adjustment.

[2017-09-05 21:03] Aleniras commented on #72
Thanks for following up.
I thought I had tested this blue, but apparently it needs to be just sliiiiightly darker for smaller fonts. I've run #5D7998 through accessibility testing and it looks like it will work. Could you please change the blue on the calendar to that?

![image](https://user-images.githubusercontent.com/26605197/30083244-fa463f14-924a-11e7-94f4-c69322bb75f8.png)

[2017-09-05 21:04] Aleniras commented on #72
@katrialesser ^

[2017-09-05 21:13] katrialesser commented on #72
Great, I will change that medium blue color everywhere. thanks @Aleniras !

[2017-09-05 21:21] Aleniras commented on #72
Thanks. sorry to make you do that twice.

[2017-09-05 21:34] katrialesser commented on #72
That's okay. I think that we've now covered all of the issues above for accessibility (once my code gets merged in), does that look right to you @Aleniras ?

[2017-09-05 21:39] sher1 commented on #180
Also need to clear out results that have ___ in them, search for assault in search box for example, also devotionals, honor code,

[2017-09-05 21:44] Aleniras commented on #72
I think so! Let me know if I've missed anything else.

[2017-09-05 21:57] sher1 opened #182 "Improve sitemap"
The sitemap should include a list of all links on all of the content pages

[2017-09-05 22:15] sher1 opened #183 "Make sure redirects are pointing from old site to new"
Pages include
1. http://home.byu.edu/home/content/directories  - going to https://lambda.byu.edu/ae/prod/person/cgi/personLookup.cgi?showEmpStd=S directly now (per our discussion)
2. https://home.byu.edu/home/colleges - going to our Colleges & Department page
3. http://home.byu.edu/home/content/libraries - going to http://www-test.byu.edu/byu-libraries
https://home.byu.edu/home/content/galleries-a

[2017-09-05 22:47] sher1 commented on #180
Need to clear out results but won't worry about adding taxonomy until after sitemap is working. Adding taxonomy will need to fit in between the promotions and the regular results

[2017-09-06 15:19] #72 closed

[2017-09-06 15:20] katrialesser commented on #72
@sher1 i know you were running a different test, so you can reopen this or create a new accessibility issue if needed.

[2017-09-06 15:22] katrialesser commented on #183
@hadfieldjoe Sherwin said you had talked about this; I did this last week while Sherwin was gone. I posted the list of all of them in the group slack.

[2017-09-06 15:22] #183 closed

[2017-09-06 16:57] bmorgan296 commented on #165
I released [v1.0.1](https://github.com/byuweb/byu-news-components/releases/tag/v1.0.1) of the news components. That should solve the problem. Once you start running those changes, it should be good to go.

[2017-09-06 18:21] Aleniras commented on #163
Thanks @snelg for making so many of these changes already!

It looks like removing the width in between each box has also removed the alignment right and left with the hero image above and calendar beneath. Ideally, we could have the smaller space in between the boxes with them growing responsively always aligning with the calendar width beneath. If that won't work, lets go ahead and just keep the

[2017-09-06 18:41] katrialesser commented on #71
Adjusted so that it is only on the front page. In case you change your mind later, I made a nice interface setting:
![image](https://user-images.githubusercontent.com/12898896/30128668-bd2bcd68-9300-11e7-80d7-6b95083be356.png)

[2017-09-06 18:41] #71 closed

[2017-09-06 18:42] katrialesser opened #187 "accessibility myBYU button colors"
Change to royal background and add hover effects

[2017-09-06 19:09] katrialesser commented on #187
Done! Added hover animation so the button is still clearly interactive on hover/focus. now fully accessible.

[2017-09-06 19:09] #187 closed

[2017-09-06 19:12] katrialesser commented on #165
Devin & Blake finished this and we merged it in.

[2017-09-06 19:12] #165 closed

[2017-09-06 19:50] katrialesser commented on #70
Adjusted.

[2017-09-06 19:50] #70 closed

[2017-09-06 20:04] katrialesser commented on #175
This issue doesn't happen on the ipad portrait or landscape.

[2017-09-06 21:07] snelg commented on #163
"Reduce space between [X]s" is different than "Make [X]s bigger so that the space between them isn't as large" :)
Done.

[2017-09-06 21:07] #163 closed

[2017-09-06 21:21] Aleniras commented on #71
wow! this is great! thanks @katrialesser

[2017-09-06 21:41] Aleniras commented on #163
its perfect. thank you! sorry, I'm still learning the correct lingo. I appreciate your patience!

[2017-09-06 22:03] Aleniras opened #188 "Home page"
The "something to share" has a shorter white space height for the copy than the others... any idea why?
(if this is an easy fix, please make white space for copy 120px tall at largest point. Otherwise, we can put it on the "later list")

![image](https://user-images.githubusercontent.com/26605197/30136566-c6523c26-931c-11e7-8873-84f4b5813828.png)

![image](https://user-images.githubusercontent.com

[2017-09-06 22:13] snelg commented on #188
Dangit. The other three "Something" boxes have 10px right-hand margin, but that last one doesn't so that it lines up exactly with the right-hand margin of the main body. But that made that last box 10px wider than the others, and thus the picture expanded. Fixing...

[2017-09-06 22:16] Aleniras commented on #188
ah, that makes sense.
thanks!

[2017-09-06 22:41] snelg commented on #188
Fixed.

[2017-09-06 22:41] #188 closed

[2017-09-07 16:04] Aleniras opened #191 "myBYU button + LS"
1. Please add a grey outline (#767676) at .5px around the button
2. Change MYBYU to myBYU
3. Add drop shadow on button (similar to BYU logo box in the middle of the page)
4. Add a button to the left of myBYU that says "LEARNING SUITE"
5. LS button should be same grey as search box icon above it.
6. Apply same drop shadow as is on myBYU

![image](https://user-images.githubusercontent.com/26605197/3

[2017-09-07 16:32] Aleniras commented on #191
![image](https://user-images.githubusercontent.com/26605197/30174315-dca015f2-93b7-11e7-84d8-4b1a0cef2abe.png)

[2017-09-07 16:49] katrialesser commented on #191
I need confirmation from @hadfieldjoe  before I redo this again, and we need to discuss if this can be done before launch. This changes things a lot because we set up the header actions component to accept only one button and enforce the accessible styling.
Once we get approval / figure out when we are doing these changes..
1. we can do that
2. we can do that
3 & 6. there is no drop shadow on the

[2017-09-07 17:13] Aleniras commented on #191
@katrialesser does this get you what you need? black at 50%, and positioned directly beneath rather than right or left.

![image](https://user-images.githubusercontent.com/26605197/30175827-6521481a-93bd-11e7-97eb-f87ed7ebeb96.png)

[2017-09-07 17:21] katrialesser commented on #191
Yes that tells me what i need, thanks @Aleniras

[2017-09-07 17:22] katrialesser commented on #191
-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);
box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.5);

saving this here for when i come back to implement.

[2017-09-07 17:31] katrialesser commented on #154
@Aleniras i just took a look at making the quote source an h9 - The quote body is an h9 already, it would look like this if we changed it:
![image](https://user-images.githubusercontent.com/12898896/30176459-bfbabcb4-93bf-11e7-95a6-171b8f3685b1.png)

This is definitely worse than the good way it looks now:
![image](https://user-images.githubusercontent.com/12898896/30176534-0236739e-93c0-11e7-9b03

[2017-09-07 17:31] #154 closed

[2017-09-07 17:32] katrialesser commented on #176
To clarify, we changed it for mobile, and Aleni wants it back to how it was. We'd need to go through and remove the adjustments we made for mobile and test it thoroughly for problems. Also would mean adjusting it's spacing to other elements.

[2017-09-07 17:55] Aleniras commented on #154
Thanks - - the problem was that at mobile the font was becoming book. Looks like that is fixed now.

[2017-09-07 19:00] katrialesser commented on #191
Alright, @Aleniras #767676 isn't one of the grays we are using in the components, so i'm inclined to use #666 which is very close. We already have 6 grays defined in the components:

// There are 6 grays right now..
$xlightgray: #f2f2f2;
$lightgray: #e5e5e5;
$lightergray: #e6e6e6;
//$medgray: #9b9b9b; // extra
$gray: #c5c5c5;
$medgray: #666;
$darkgray: #6a6a6b; // least used gray
$darkestgray: #14

[2017-09-07 19:01] katrialesser commented on #191
if we use the #666 then it matches the component button.

[2017-09-07 19:01] Aleniras commented on #191
sounds good. Thanks!

[2017-09-07 19:24] katrialesser commented on #191
I am working on the myBYU button style adjustments.

@hadfieldjoe and @Aleniras Joann and @sher1 and I have decided we can't redo how I implemented the header action section to allow 2 buttons of different styles in the time before launch.

I implemented this design knowing that it could break if we shared it and people put multiple things in that button area, so I forced the accessible styling an

[2017-09-07 19:45] katrialesser commented on #191
The button style has been updated as requested for myBYU. The rest will be enhancements.

[2017-09-07 19:46] Aleniras commented on #191
@katrialesser this looks great; thanks for doing that. I like the screenshot version on the left. Is that the one that you're saying the drop shadow won't show up? or is that my version?

[2017-09-07 19:48] Aleniras commented on #191
Also, I'm not sure what @hadfieldjoe wants to do about the difficulties with adding a second button, but that makes sense. If we kept the formatting the same for both buttons, would that make your life easier @katrialesser? Something like this:

![image](https://user-images.githubusercontent.com/26605197/30182189-2d7e4ca8-93d3-11e7-9cbb-f62de63ec1af.png)

[2017-09-07 23:01] jvogtman commented on #155
Steve has agreed to be in charge of the emergency messages.  Phase 1:  we give Steve a log in/editor role and he will copy/paste the message into the website.  Phase 2:  we will attempt to integrate the web page with Steve's existing dashboard that sends messages to devices all over campus (including the mobile app).

[2017-09-08 16:52] Aleniras commented on #153
@sher1 Can we get these pages to load in <4 seconds?

https://www.hobo-web.co.uk/your-website-design-should-load-in-4-seconds/

[2017-09-08 16:59] sher1 commented on #157
That isn't consistent with what we are getting. Is this on the desktop or ipad? I just tested on our Mac and an iPad and it comes in fine. It sounds like a potential browser cache issue

[2017-09-08 17:00] sher1 commented on #153
As soon as we are done with the developing part, I will enable optimizations and this won't be an issue

[2017-09-08 17:05] Aleniras commented on #157
Just cleared my cache and I think that fixed it. Thanks!

[2017-09-08 17:22] Aleniras opened #197 "Mobile Header"
Please adjust the mobile version to match the specs delivered to engineering.
 - top and bottom of BYU logo need to align perfectly with top and bottom of two-line title
 - "BYU" should be 100px x 29px (currently it is the size for full width screens )
 - BYU should be centered vertically in blue bar
 - "Brigham Young University" title should be 16px + 16px line height
 - B in BYU should be vertic

[2017-09-08 17:38] Aleniras opened #198 "3 mobile enhancements"
- 1. see more is still appearing as a squashed circle. Lets just make it a rectangle to avoid. (also, can you increase the blue opacity so it isn't looking green. I didn't account for a yellow picture when I picked the opacity :/)

![image](https://user-images.githubusercontent.com/26605197/30223677-1bd0e2d4-9489-11e7-9381-2bdb2eda6d35.png)

- 2. please left align "105" countries with "50 states"

[2017-09-08 17:56] Aleniras commented on #153
Great! Will you let me know when you enable them?

[2017-09-08 18:27] Aleniras opened #199 "homepage - pixel check"
Please double check any items in pink. They* are not changes from the original spec but I didn't specify these pixels on the document you received so I think there are some discrepancies.  I'm learning how to be more specific :). The time frame on this can happen post-launch. Let me know if you have any questions/concerns and we can discuss. Thanks!

*exceptions: The title size and italics removal

[2017-09-08 20:05] jvogtman opened #200 "Accessibility Color Problems in Footer - Need background or font color changes (Barrier to roll out)"
The footer still does not pass the WAVE Accessibility test.  We've had other testers comment on it too.  We need to resolve this problem on the Home Page.  Then, we can make the changes in the components so that everyone will be accessible.  As the new BYU.edu rolls out this is a great opportunity to embrace the Accessibility and set the example.

[2017-09-08 20:10] Aleniras commented on #200
@jvogtman Can you let me know where the problems are? Is it only the grey on grey? Also, is there a way for me to test WAVE accessibility to reduce churn on your end?

[2017-09-08 20:17] Aleniras commented on #200
Lets increase the weight by 100 and see if that fixes the problem. The grey should be #66666 still and the non-link items can be navy blue.

![image](https://user-images.githubusercontent.com/26605197/30229763-75e61d9a-94a0-11e7-8813-363c1a75766c.png)

[2017-09-08 20:18] sher1 commented on #200
This is the one that was recommended by the government agency that we worked with. It is a firefox extension
https://addons.mozilla.org/en-US/firefox/addon/wave-accessibility-tool/?src=ss

[2017-09-08 20:20] sher1 commented on #200
The font-weight won't fix it. Even the headers of the sections (Contact, Resources, etc) are flagged as not accessible enough

[2017-09-08 20:32] Aleniras commented on #200
hmm... I'm not sure why it's running an error because when I manually type in those two colors it passes at both small text and large text, and the headers are large text.  Any thoughts on why that would be?

![image](https://user-images.githubusercontent.com/26605197/30230196-77cd56e4-94a2-11e7-8fb4-09f332c96f31.png)

[2017-09-08 20:34] Aleniras commented on #200
Its also strange that only this "VIEW" on the far right isn't passing - - when it is a larger font than the days and none of them are showing errors.

![image](https://user-images.githubusercontent.com/26605197/30230277-d60ac03e-94a2-11e7-9685-68bf62bcaf2d.png)

[2017-09-08 22:27] sher1 commented on #200
It could be that our sizes aren't conforming to what they consider normal text. That's my only guess. This is the tool we were told to use by the Office of Civil Rights. It is apparently considered the gold standard. There are also some Chrome extensions that can be used to look at things but we need to get it to pass the WAVE tool since it is the one we will be judged on.

[2017-09-08 22:44] Aleniras commented on #200
I'm definitely in support of being in compliance -- but it seems this site isn't reliable for that. I just ran WAVE on a couple other websites using our footer to test it and no contrast errors occurred there. Let me know how you'd like me to proceed.

![image](https://user-images.githubusercontent.com/26605197/30233635-0474d8b8-94b4-11e7-9c65-dab970a82234.png)

![image](https://user-images.github

[2017-09-08 22:56] sher1 commented on #200
I ran a test using the Chrome one and it fails the elements too, although it is harder to tell which elements are failing. I have a report that I can share and although it has more details it is hardly easy to read through. I will put together a compilation from both and see where we get.As far as the images you shared, it looks like it is comparing blue (0000ff) to white (ffffff) so maybe it isn'

[2017-09-11 19:11] katrialesser commented on #197
I will have to look at this more closely - the mobile version was taken from the components group exactly back when we split off from them. Maintaining changes in both components' code is an ongoing challenge of this decision to break from the official byu-theme-components.

If you changed anything between when we started this, it has to be an enhancement. If these were the implemented specs, then

[2017-09-11 19:26] katrialesser commented on #197
I will work on byu size, spacing and line height with site title, and search line under

[2017-09-11 21:48] katrialesser commented on #17
@aleni requested I give her the list of H's / font style types in use. The issue regarding is here: https://github.com/byu-oit/home_d8/issues/17
Although we never consolidated any.

Here is the list of styles that I am seeing that would need adjustment if we change fonts:
Original H's with various options:  (21)
h1 navy
h2 navy
h3 navy
h4 navy
h8 navy
h9 navy
h10 navy
h11 navy
h12 navy
h5 gray
h9

[2017-09-12 14:57] katrialesser commented on #191
Update: As I posted in the slack group, this navy on dark navy button does not pass accessibility.
![image](https://user-images.githubusercontent.com/12898896/30332646-0bb66fec-9798-11e7-9d01-970929e97370.png)
![image](https://user-images.githubusercontent.com/12898896/30332649-0e6bb012-9798-11e7-8bbe-8f831d268f4a.png)

The WAVE tool, which we have to use, flags it. (Although I don't know why it t

[2017-09-12 15:40] katrialesser commented on #197
Updates:
1. top and bottom of BYU logo need to align perfectly with top and bottom of two-line title
They do, here is at 320px:
![image](https://user-images.githubusercontent.com/12898896/30333110-5f774f38-9799-11e7-9276-97d05822a374.png)

2. "BYU" should be 100px x 29px (currently it is the size for full width screens )
This is not how it is implemented in the current components. The normal compo

[2017-09-12 15:51] katrialesser commented on #197
7. Update: Also fixed.

[2017-09-12 15:52] katrialesser commented on #197
The only remaining items are ones that need to be fixed in ours and the main components and will be enhancements.

[2017-09-12 20:14] Aleniras commented on #197
Hey, this is what I meant for #1. I took your screen shot and added some lines on it so you could see. It is closed to aligned but not quite -- maybe with vitesse it is different?

![image](https://user-images.githubusercontent.com/26605197/30346020-90ff97ba-97c4-11e7-9297-148b69580e6b.png)

[2017-09-12 21:13] katrialesser commented on #197
@Aleniras are you saying the top of 'Brigham Young' should come up and the bottom of 'University' should come down?
I'm sure you know that all fonts have spacing included in the font around the letters. The tiny space there that is a partial-pixel space is just space inside the font.

If there is something here you want changed, it will have to be an enhancement for both our components and the byu

[2017-09-13 19:24] jvogtman opened #203 "Time Zone Issue on Calendar Events - retroactive events (yesterday)"

[2017-09-14 18:30] Aleniras opened #204 "tab vs hover on home page"
Hover style and focus styles are different.  On the calendar links, the hovering changes color to royal blue, while tabbing through adds an underline. Lets make the links consistent through the site. When hovered, they should turn royal blue + underline. Focus can be the same.

[2017-09-14 18:34] Aleniras opened #205 "hover state"
1. please add a hover to these arrows. should turn the outline of the outside circle blue when I am hovered on it.

![image](https://user-images.githubusercontent.com/26605197/30447333-ff31d272-9948-11e7-82a7-a7c09cff64e2.png)

2. please add hover to "more tuition details"

![image](https://user-images.githubusercontent.com/26605197/30447540-a5342b52-9949-11e7-8114-01b2a2476ba1.png)

[2017-09-14 19:45] Aleniras opened #206 "mobile view: missing "something to""
Unfortunately, I can't see the "something to" on initial screen load due to load delay on scroll for desktop. Please have it appear sooner on mobile so it doesn't look like the home page only consists of a hero image.

![image](https://user-images.githubusercontent.com/26605197/30452453-f3bfc480-9952-11e7-8bf3-f756cd6ee6a7.png)

[2017-09-14 19:50] Aleniras commented on #157
received this from a user on an iphone post roll out:

![image](https://user-images.githubusercontent.com/26605197/30452621-9751376e-9953-11e7-89e3-331f416ca31d.png)

[2017-09-14 20:59] Aleniras opened #208 "Y facts causing eternal right scroll on mobile"
(only visible on secondary pages)

![image](https://user-images.githubusercontent.com/26605197/30455455-3e1f75d4-995d-11e7-93bd-52f8df6d1c5f.png)

[2017-09-14 21:00] jvogtman opened #209 "Secondary Page - you can scroll to the right infinitely"

[2017-09-14 21:01] jvogtman opened #210 "Suggestion: Add a link to is.byu.edu - lots of calls to Service Desk (possible enhancement)"

[2017-09-14 22:24] katrialesser opened #211 "about: state names not showing up in iphone"
![image](https://user-images.githubusercontent.com/12898896/30458511-23012746-9969-11e7-8d74-01f76d18579d.png)

@aleni ^ putting it here instead.

[2017-09-14 22:25] katrialesser commented on #157
@Aleniras this is a completely different issue - this is tablet and for counters, this is states not showing and it's iphones. created a new one.

[2017-09-14 22:25] #157 closed

[2017-09-14 22:54] Aleniras opened #212 "Flickering in header"
Looks like the base view (see attachment) with no components is formatted differently than the page with all components loaded. This causes the flicker to happen because the new components shift things up/down and right/left.

Perhaps adjusting that initial view so that the layout before and after the components load is identical could fix it?

![image](https://user-images.githubusercontent.com/26

[2017-09-15 16:09] devingd commented on #209
duplicate of #208

[2017-09-15 16:09] #209 closed

[2017-09-15 19:19] Aleniras opened #213 "Speed Improvement Feedback"
![image](https://user-images.githubusercontent.com/26605197/30500111-32083a02-9a1a-11e7-9096-0c4c2b1ad1d6.png)

![image](https://user-images.githubusercontent.com/26605197/30499615-776dfce6-9a18-11e7-89bc-777543e00c71.png)

[2017-09-15 19:48] #84 closed

[2017-09-15 20:10] Aleniras commented on #158
@snelg I'm still getting this on chrome and safari:

![image](https://user-images.githubusercontent.com/26605197/30501396-8a3f8180-9a1f-11e7-8694-5513b30197c0.png)

[2017-09-15 20:19] jvogtman opened #214 "Accessibility Issue - Campus Life - White Text on Grey [Wave test]"
![campus life grey white issue](https://user-images.githubusercontent.com/15822938/30501709-c93ca164-9a20-11e7-9696-fac23064bbda.JPG)

[2017-09-15 20:21] jvogtman opened #215 "Accessibility Issue - Academic Calendar 251 contrast issues [Wave tool]"
![calendar acc](https://user-images.githubusercontent.com/15822938/30501749-e64cbb72-9a20-11e7-862d-04b9572efd06.JPG)

[2017-09-15 20:22] jvogtman opened #216 "Accessibility Issue - Prev/Next buttons empty [wave tool]"
![calendar previous and next buttons - empty](https://user-images.githubusercontent.com/15822938/30501872-4e8645dc-9a21-11e7-9c30-2a68d63588f0.JPG)

[2017-09-15 20:24] jvogtman opened #217 "Accessibility: Pure Chat - fails the Wave Tool test on all pages"
![pure chat errors - empty buttons](https://user-images.githubusercontent.com/15822938/30501952-9a87cbc2-9a21-11e7-807f-9876436eaf14.JPG)

[2017-09-15 20:28] jvogtman opened #218 "Academics Title -- Contrast Error - Blue filter again? [Wave Tool]"
![academics contrast error](https://user-images.githubusercontent.com/15822938/30502092-186f4380-9a22-11e7-98d4-ab50d772817d.JPG)

[2017-09-15 20:29] jvogtman opened #219 "Accessibility: Campus Life Title Contrast Error [wave tool]"
![campus life contrast error](https://user-images.githubusercontent.com/15822938/30502146-4541cf9a-9a22-11e7-8d35-db94dd133515.JPG)

[2017-09-15 20:31] jvogtman opened #220 "Accessibility: About Title Contrast Error [Wave tool]"
![about page title contrast error](https://user-images.githubusercontent.com/15822938/30502205-7d32a69a-9a22-11e7-9573-50f66700ac28.JPG)

[2017-09-15 22:29] jvogtman commented on #200
Fixed before roll out

[2017-09-15 22:29] #200 closed

[2017-09-18 15:35] jvogtman commented on #174
Estimate:  8 hours

[2017-09-18 15:36] jvogtman commented on #176
Estimate:  8 hours

[2017-09-18 15:36] katrialesser commented on #212
This is because while the components load we load css that will style it similarly. It is impossible to style it all completely without components as not all the divs exist to style things exactly the same. We could spend some time getting it closer, but there is a limit to what we can do. This is only for the second/split second it shows if speeds are good.

[2017-09-18 15:38] katrialesser commented on #220
The picture should be adjusted. I can adjust it to a darker blue overlay..or Aleni can.

[2017-09-18 15:39] katrialesser commented on #212
(This is not a bug; it is how the normal and these components work by nature.)

[2017-09-18 15:39] jvogtman commented on #180
We believe current search is more than adequate.  The question is:  will adding taxonomy add value or confuse things?

[2017-09-18 15:40] jvogtman commented on #182
Site map currently lists all pages.

[2017-09-18 15:40] #182 closed

[2017-09-18 15:40] katrialesser commented on #206
This is not an issue with this block; it's an issue of loading speed.

[2017-09-18 15:41] jvogtman commented on #191
myBYU button has been fixed.  Learning Suite has not been implemented per Joe

[2017-09-18 15:41] #191 closed

[2017-09-18 15:43] jvogtman opened #221 "BYU Logo - Make smaller on Mobile"
"BYU" should be 100px x 29px (currently it is the size for full width screens )
This is not how it is implemented in the current components. The normal components and our components are using 117 x 34px. If you want it changed, it will have to be an enhancement and changed with both components. I'm guessing they need an updated spec as there is a difference in what they are working off of.

Remove

[2017-09-18 15:44] jvogtman opened #222 "mobile search box should be hidden when menu expands"

[2017-09-18 15:45] jvogtman commented on #197
Remaining items (enhancements) have been moved to separate new issues.

[2017-09-18 15:45] #197 closed

[2017-09-18 15:50] jvogtman commented on #198
1. Fix
2. Fix
3. Design Change (not previously specified)

[2017-09-18 15:52] jvogtman commented on #199
Joe:  These were not specified, we built them and now the request is to change them.  "I didn't specify these pixels on the document you received so I think there are some discrepancies."  Do you want these changes made?

[2017-09-18 15:53] jvogtman commented on #203
Fixed

[2017-09-18 15:53] #203 closed

[2017-09-18 15:53] katrialesser commented on #198
Devin, for the states not showing, I believe I specified that for mobile, the states-group items should just be displayed inline from the start. And the last one may be block to force Arizona/the last one on it's own line. Something like that. I looked at this fix previously and it's working in some mobile screens.

[2017-09-18 15:54] katrialesser commented on #204
Need to make sure focus is specified, not just hover effect.

[2017-09-18 15:58] katrialesser commented on #211
Duplicate, specified elsewhere.

[2017-09-18 15:58] #211 closed

[2017-09-18 15:59] jvogtman commented on #212
Once the static files speed issue is fixed, this won't be an issue.

[2017-09-18 16:01] Aleniras commented on #212
@jvogtman I'd like to discuss this in person with the team before we close the issue. I've received a lot of feedback on the flickering problem and think we should look at some additional solutions before writing it off as a speed issue. Thanks!

[2017-09-18 16:05] jvogtman commented on #152
Joe:  Somethings and Emergency Text are editable inline.  If you want all of the video building option inside the front page/edit page, let us know?

[2017-09-18 16:06] jvogtman opened #223 "Scheduling and Versioning of Content"

[2017-09-18 16:11] katrialesser opened #224 "Search Enhancement within component - get working like other components"

[2017-09-18 16:18] katrialesser commented on #221
To clarify: We aren't doing this until it is requested for both components to change so we are staying in compliance with each other.

[2017-09-18 16:21] katrialesser commented on #222
Glen will be helping us look at all the changes and updates to the other components and see about merging it all in.

[2017-09-18 16:21] katrialesser commented on #224
This is what I tried to merge in manually and couldn't get to work.
Glen will be helping us look at all the changes and updates to the other components and see about merging it all in.

[2017-09-18 17:01] Aleniras commented on #217
@hadfieldjoe Do we have options to change the pure chat colors?

[2017-09-18 17:10] devingd commented on #216
fix in place. Waiting on PR.

[2017-09-18 17:11] devingd commented on #205
1 has a fix in place, just waiting on a PR to have it updated on the page.

[2017-09-18 20:31] snelg commented on #158
Fixed again.

[2017-09-18 20:31] #158 closed

[2017-09-18 21:06] snelg commented on #206
Scroll trigger fixed

[2017-09-18 21:06] #206 closed

[2017-09-18 21:06] Aleniras commented on #206
oh good. thanks!

[2017-09-18 21:13] katrialesser opened #228 "Make myBYU link to the edges of the button area"

[2017-09-18 21:13] katrialesser commented on #228
The link wasn't extending to the full area of the button space. It is fixed now.

[2017-09-18 21:13] #228 closed

[2017-09-18 22:37] katrialesser commented on #223
A few directions we could go:

1. Using the Workbench Moderation module (which will be phased out in a couple months by the Drupal core moderation option) would require a Drupal 8 version of this module to work: https://www.drupal.org/project/scheduler_workbench

2. Waiting a month or so and using the released Drupal core version of moderation seems like a better long term plan. However, there is

[2017-09-18 22:39] katrialesser commented on #204
I added this in for the mixins file and about page. You guys can look over your individual items and we can look at modules next to check for anything. I believe I already looked over modules when Sherwin brought this up a few weeks ago. And I believe I already did this a few weeks ago for components / header/footer.

[2017-09-19 17:07] katrialesser commented on #222
@Aleniras after you asked the normal components group to move it to the bottom it was discussed and it is now hidden with animation.

We can plan on implementing that, so our components match the other components.

[2017-09-19 17:09] katrialesser commented on #222
Looks like these are the main pr's we need to look at to implement:
Hiding it with animation
https://github.com/byuweb/byu-theme-components/pull/263

Improving animation
https://github.com/byuweb/byu-theme-components/pull/309

[2017-09-19 17:10] katrialesser commented on #222
Changed the title to reflect new design change.
Aleni's approval of this design change is documented here:
https://github.com/byuweb/byu-theme-components/issues/158

[2017-09-19 21:06] snelg commented on #219
Fixed. If the image wasn't there, the background and foreground would both be white. That's what Wave was complaining about. I made the not-visible-anyhow background color dark navy. No visual difference, but Wave is happy.

[2017-09-19 21:06] #219 closed

[2017-09-19 21:06] snelg commented on #218
Same comment as #219

[2017-09-19 21:06] #218 closed

[2017-09-19 21:07] snelg commented on #220
See comment on #219

[2017-09-19 21:07] #220 closed

[2017-09-19 22:16] Aleniras commented on #219
Thanks @snelg
I appreciate you being proactive in solving problems. It makes me really thankful to be on your team!

[2017-09-22 17:46] katrialesser commented on #221
@hadfieldjoe  if you want this changed, it has to be an official change with all the components group and us - there has to be an official specs change from Aleni if you want this changed. It sounds like this is something that would change in January with that release of design adjustments, as that is still being figured out.

[2017-09-22 17:47] katrialesser commented on #204
Glen went through and did the rest, this should be done.

[2017-09-22 17:47] #204 closed

[2017-09-22 17:49] katrialesser commented on #222
It will be a big process to merge in all the issue fixes and changes from the components group and so Glen and I will be sorting through all of this Monday morning and probably through Tuesday at least. We'll see where there are issues and sort through all the bug fixes among all the design changes between the two versions of components.

Doing this will fix this issue as well as pull in many othe

[2017-09-22 18:34] #208 closed

[2017-09-25 14:47] katrialesser commented on #224
This should be addressed by merging in the changes to components from the last few months.

[2017-09-25 14:47] katrialesser commented on #214
Is there any update @Aleniras for what we are going to do about this?

[2017-09-25 14:52] katrialesser commented on #215
I guess we should have taken a look at the previous design that was used for the academic calendar earlier. Since we didn't put this design in we didn't check all the contrast colors. What are we going to do for this? Do we need to increase the font size? Those background colors are usually pretty light.

It looks like the text is not quite black, but gray and that helps some of them.
The red on w

[2017-09-25 14:59] devingd commented on #198
I believe this issue is resolved with the merging of #227

[2017-09-25 14:59] #198 closed

[2017-09-25 15:09] devingd commented on #216
PR was merged. Closing issue

[2017-09-25 15:09] #216 closed

[2017-09-25 15:10] devingd commented on #205
PRs merged. Closing issue.

[2017-09-25 15:10] #205 closed

[2017-09-25 19:48] Aleniras commented on #215
Thanks @katrialesser. Lets start by changing all the grey text to #666666 instead of #777777. That should solve the majority of the problems, per the WAVE tool screenshots below:

![image](https://user-images.githubusercontent.com/26605197/30827622-faf261c4-a1f7-11e7-8f46-6670ad806b3a.png)

![image](https://user-images.githubusercontent.com/26605197/30827634-03dcd8dc-a1f8-11e7-9075-4ee3729af83f.pn

[2017-09-25 19:51] Aleniras commented on #215
For the red, lets stick with the red we used on the alerts page. #A90217 right?

![image](https://user-images.githubusercontent.com/26605197/30827794-84243daa-a1f8-11e7-9c8c-814c99f88d3f.png)

[2017-09-27 18:59] katrialesser commented on #221
It sounds like this is not going to change at this time; it could potentially change with January design but it sounds like it isn't changing at this point. Going to close as it is not something we are doing right now. If later it does change we would need those specs, etc.

[2017-09-27 18:59] #221 closed

[2017-09-27 19:01] katrialesser commented on #224
Done, in testing on www-test.byu.edu

[2017-09-27 19:01] #224 closed

[2017-09-27 22:42] katrialesser commented on #215
@Aleniras your check on #666 over the colored backgrounds didn't include all the background colors and there are a few still problematic:

![image](https://user-images.githubusercontent.com/12898896/30941393-6805b512-a3a2-11e7-91cc-2e6af11cd027.png)
Can you send me revised background colors for these problematic colors? I think swtiching to #777 is good, it's just that these backgrounds are still

[2017-09-27 22:44] Aleniras commented on #215
@katrialesser Seems all those background bold colors can be lightened, yes? Will you lighten them until they pass and then lets see if we have trouble differentiating what color is which?

[2017-09-27 22:46] katrialesser commented on #223
It looks like we need to wait until Drupal 8 releases more support for this, which is with the 8.4 release next month.
https://groups.drupal.org/node/517148

[2017-09-27 22:46] katrialesser commented on #214
@Aleniras to consider this project closed Friday we need to address all accessibility concerns. Do you have a solution for this?

[2017-09-27 22:47] katrialesser commented on #217
@hadfieldjoe and @Aleniras any update? We do need to address accessibility this week.

[2017-09-28 15:20] katrialesser commented on #212
Glen & I figured out a way to use calc() and get this improved to avoid the jumping of elements during page load.

[2017-09-28 15:20] #212 closed

[2017-09-28 15:21] Aleniras commented on #212
@katrialesser I noticed there is also a problem with this on our current components; maybe you could share your findings with the engineering team?

[2017-09-28 15:30] Aleniras opened #230 "Speed up ABOUT vertical down dots in map section"
Can we bring in the dots a little sooner on this?  It's just long enough that people begin to scroll (/take a screen shot) without seeing it all come in:

![image](https://user-images.githubusercontent.com/26605197/30975455-94a6899c-a42f-11e7-8408-1de67e215be9.png)

[2017-09-28 15:35] katrialesser commented on #174
There is a line below the search, we are still marking this as an enhancement. If we redo this page's width and padding, and Joe wants us to spend the time on it, we can come back to this.

[2017-09-28 15:39] katrialesser commented on #222
We have implemented this on www-test.byu.edu and will be pushing it up to the prod site soon.

[2017-09-28 15:39] #222 closed

[2017-09-28 15:47] Aleniras commented on #214
@katrialesser Lets try this. I've tested it with the WAVE tool but let me know if you have any concerns! (also, the #E5E5E5 should just match the light color on the Admissions page under the YFacts banner -- I think that's the matching hex code, but if not just use whatever is already being used. No need to add _another_ grey! :))

![image](https://user-images.githubusercontent.com/26605197/309763

[2017-09-28 15:47] katrialesser commented on #217
This is not a color contrast issue; it is how the button works and is set up that the tool thinks it is not accessible, and we can't change this.
The buttons are not used for anyone. So this is okay.

Sherwin is going to look at maybe adding a form label.

[2017-09-28 15:50] katrialesser commented on #230
@Aleniras I just want to check that you won't change this decision later, since we started with them coming in earlier and they weren't noticeable, so we adjusted to later. Every time we adjust one point in this process, we have to adjust the times of 15 other items so please confirm.
If I change it now we will not be able to change it again or undoing it before we close the project tomorrow.

[2017-09-28 15:54] katrialesser commented on #230
Now I have it coming in with the states, and before we had it coming in with the "50 states & countries" parts. There isn't an in between for these, basically, so it will be going back to what it was, which you guys said was too early. It seemed like everyone liked the adjustment we made to put it later.
@hadfieldjoe do you want to weigh in on changing this right now? I just don't want to change i

[2017-09-28 15:57] katrialesser commented on #217
Sherwin fixed the form and the buttons are not meant to be used, they are hidden for everyone.

[2017-09-28 15:57] #217 closed

[2017-09-28 15:59] katrialesser commented on #214
@Aleniras here's an article that tells you how to inspect so you can always check colors: https://developer.chrome.com/devtools

I'll take a look at implementing theses changes. Thanks for sending them over!

[2017-09-28 16:13] Aleniras commented on #230
That's fine -- we can look at it in the meeting but I wouldn't work on it til then; I received the "too slow" feedback from a few different people so I thought I'd pass it along. Probably not worth changing it in 15 places right now.

[2017-09-28 16:20] katrialesser opened #232 "Condensing the number of grays we are using"
@Aleniras we actually have added 3 grays to the 6 we expanded from, this is what we have:
[code]

[2017-09-28 16:23] katrialesser commented on #232
We ahve #777's in some places, and some of those changed to #666's for accessibility.. we should probably just use #666 everywhere instead of #777.
But then #767676 is so extremely similar as well.

And #e5e5e5 and #e6e6e6 are almost the same as well, i think the difference in those was probably accidental.

[2017-09-28 16:26] Aleniras commented on #232
Yeah, lets condense: this is what we have on brand.byu.edu

![image](https://user-images.githubusercontent.com/26605197/30978326-77d5cc26-a437-11e7-919c-c7728dca3365.png)

[2017-09-28 16:28] katrialesser commented on #232
If we're getting rid of them I need to know what to replace them with and we'll have to check that everything is still okay with accessibility.
Can you please specify which replacements?

[2017-09-28 16:28] katrialesser commented on #232
@Aleniras ^

[2017-09-28 16:34] Aleniras commented on #232
Sure @katrialesser.

Lets move:
#4a4a4a > #666666
#777777 > #666666
#e5e5e5 > e6e6e6

I'll change #767676 to #666666 on the brand site since that seems to be the more accessible color.

[2017-09-28 16:37] katrialesser commented on #232
Great. So we'll have all the official ones (including #767676) plus #666 as our final list, right?

[2017-09-28 16:38] Aleniras commented on #232
I'm thinking about taking 767676 off since it doesn't seem to be accessible in a lot of instances. Do you think I should leave it?

[2017-09-28 16:42] katrialesser commented on #232
I think you should replace it with #666 since we are using that elsewhere.
Also, the medium gray that the components are all using is #666 too.. so it seems like #767676 should officially be changed to #666 if it needs to be for accessibility.

[2017-09-28 17:28] hadfieldjoe commented on #215
I'm worried that we're changing the Academic Calendar on our site and not pushing back these change requests to Michael Kemp. Yes, we need this to be accessible. But we also need it to match the one they publish through the registrar, so I'd like the changes to be coordinated and/or come from them and we consume them.

[2017-09-28 17:29] hadfieldjoe commented on #210
We do link to Independent Study on the "Academics" page. Are you saying put the link somewhere else?

[2017-09-28 17:35] jvogtman commented on #155
I sent the following Slack message to the engineers yesterday:
![image](https://user-images.githubusercontent.com/15822938/30981281-26e43294-a441-11e7-8de7-d6472083fa23.png)

[2017-09-28 17:39] jvogtman commented on #232
I believe the value of having fewer colors and fewer fonts/sizes was in the savings in the development phase.  That opportunity for cost savings has past and we've spent the time and money.  I'm not sure that there is economic or design value in going back and spending more time to reduce those.  I believe the pages look good as is.  Perhaps I am wrong and reducing them now will save money later i

[2017-09-28 17:40] jvogtman commented on #230
Are users complaining about the dots?  This is a cost issue that @hadfieldjoe will have to decide, perhaps using 2018 money for this.

[2017-09-28 17:42] jvogtman commented on #210
The Service Desk operators wanted it to be in the footer as they get so many calls.  They were quite passionate about the request stating that it is equally important as myBYU.  I know that we opted not to include Learning Suite at the top of the screen, so there might be similar hesitation to add this link.  There seems to be widespread confusion for IS students/customers who think they are part

[2017-09-28 19:51] Aleniras commented on #215
Agreed. what is the best way to deliver these back to him?

[2017-09-28 20:44] katrialesser commented on #214
Resolved on www-test. Pushing up to prod later today or early tomorrow.

[2017-09-28 20:44] #214 closed

[2017-09-28 20:46] katrialesser commented on #230
Agreed; if they are reading it's not too slow. If they're skimming maybe it is, but then that's too fast for others; we could find a compromise in adjusting speeds later but there's nothing broken with how it is now.

[2017-09-29 15:09] jvogtman commented on #155
Joe would like the first message automatically published.  Joe would like the subsequent messages to also go to the Home Page.  Question is will subsequent messages append or replace?  Consult with Joe on this.  Ask Steve Carlson.

[2017-09-29 15:11] jvogtman commented on #179
9/29 - Joe - middle widths still laying on the play button.  So, Joe will be careful how he uses them.

[2017-09-29 15:11] #179 closed

[2017-09-29 15:11] Aleniras opened #234 "Alternate Homepage Design"

[2017-09-29 15:12] jvogtman opened #235 "Add Feedback button to Footer - Feed to Joe Hadfield"

[2017-09-29 15:13] jvogtman commented on #83
Post launch on October 14th

[2017-09-29 15:15] jvogtman commented on #152
Photos:  click to add photos, Joe would like to name the pixel dimensions on that screen so that users know what dimensions they should use.  1215 x 684 for Hero  247 x 247 for somethings

[2017-09-29 15:26] jvogtman commented on #215
Joe will call Registrar's office.  Katria will then send over the Accessibility problems.  The goal is for the calendar to be fixed by the Registrar's team rather than the Home Page team.

[2017-09-29 15:27] Aleniras commented on #215
Please add this to the list:
- Can we make the month text size larger than the day text size? Currently they are 16px and 18px, which is swapped hierarchically

[2017-09-29 15:30] jvogtman commented on #230
Decided to speed this up, but doesn't have to be today.

[2017-09-29 15:41] jvogtman commented on #153
Sherwin working on the Server.  Aleni working on font options.  Goal is for October 9th to have speed issues fixed and then survey.

[2017-09-29 15:44] jvogtman commented on #232
The plan is to make the changes to comply with the brand guidelines for 2018.

[2017-09-29 15:47] jvogtman opened #236 "Swap logo in December - waiting on new image file"

[2017-09-29 17:39] katrialesser commented on #152
I have updated the instructions by those photo uploads to include size instructions and also made alt tags required for accessibility.

[2017-09-29 17:42] katrialesser commented on #174
Done! Pushing up in update today.

[2017-09-29 17:42] #174 closed

[2017-10-06 15:56] katrialesser commented on #215
@Aleniras  ^ that is an enhancement request and needs to be filed separately than a required accessibility issue. This issue is complete.

[2017-10-06 15:56] katrialesser commented on #215
Note: Michael emailed me back, requested code. I sent it to him with updates where we made updates. Then we pushed changes up shortly after that.

[2017-10-06 15:56] #215 closed

[2017-10-06 18:27] Aleniras commented on #213
![image](https://user-images.githubusercontent.com/26605197/31292711-b585a3ce-aa91-11e7-93e2-3144f915a90c.png)

[2017-10-06 18:28] Aleniras commented on #213
@sher1 could you look into adding the appropriate headers for this ^?
Please and thanks :)

[2017-10-06 23:06] sher1 commented on #213
@Aleniras I have requested Joseph to set those.

[2017-10-09 15:55] katrialesser commented on #152
I think this is closed - most things are editable inline, except the video. We already implemented the image instructions that Joe asked for, and i THINK this is done. If this is closed incorrectly, please open with a CLEAR comment.

[2017-10-09 15:55] #152 closed

[2017-10-09 18:28] sher1 commented on #213
@Aleniras Joseph has got those as part of the new CDN he is hoping to go live soon

[2017-10-09 18:29] Aleniras commented on #213
Great. Thank you.

[2017-10-18 16:02] katrialesser commented on #230
I will likely do this next week. In discussion we clarified that Aleni meant the vertical gray dots, not the country dots and all the discussion above I thought @Aleniras was referring to the blue dots in the country since that's what was in the screenshot. I thought she meant those ones were too slow, so slightly misunderstanding about which dots we are wanting brought in sooner.

I will then adj

[2017-10-18 16:02] katrialesser commented on #223
Version 8.4 of drupal has come out and I will be testing this out this week/early next week.

[2017-10-20 22:10] katrialesser opened #240 "rework the instagram module to include config page"

[2017-10-20 22:10] katrialesser opened #241 "fix padding issue for around action mybyu link on mobile - space around it doesn't click, just the link does"

[2017-10-20 22:12] katrialesser commented on #17
Update: I haven't had time lately to compile this information for Aleni but she does want me to. Hopefully soon I'll have some time for this.

[2017-10-20 22:13] katrialesser opened #242 "Improve byu_d8 subtheme connection"
we want to disconnect this from the regular byu_d8 theme since it has so many different needs and we can't test every update to that theme on the byu homepage before we update it. we need to chagne it from a submodule to normal straight part of our site repo, and then phase it out to just byu home_d8 without a subtheme.

[2017-10-25 21:31] Aleniras opened #243 "myBYU button doesn't work"
I've been receiving some complaints that this button is currently only partially functioning, meaning --  if I click anywhere in the button that isn't text nothing happens. Can we please put the container styles on the link itself?

![image](https://user-images.githubusercontent.com/26605197/32024357-71626d00-b999-11e7-8156-44c48f9ae3ca.png)

[2017-10-27 21:17] Aleniras opened #245 ""Search Results" is running into the logo"
Please add 100px of padding above "Search Results".

![image](https://user-images.githubusercontent.com/26605197/32125568-cd60d56a-bb29-11e7-9aad-da678aa4401a.png)

[2017-10-30 19:55] katrialesser opened #247 "firefox search box is too tall"

[2017-10-30 21:30] katrialesser opened #248 "change academics link in front page calendar"
Joe requested in slack today.

[2017-11-06 22:31] sher1 commented on #243
fixed

[2017-11-06 22:31] #243 closed

[2017-11-06 22:32] sher1 commented on #248
done

[2017-11-06 22:32] #248 closed

[2017-11-06 22:32] sher1 commented on #245
done

[2017-11-06 22:33] sher1 commented on #247
fixed

[2017-11-06 22:33] #247 closed

[2017-11-06 22:34] sher1 commented on #241
fixed

[2017-11-06 22:34] sher1 commented on #241
not on mobile

[2017-11-07 03:33] Aleniras commented on #245
@sher1 Can you put ~50px in between the logo and the text please? It still is uncomfortably tight :/

[2017-11-07 20:11] katrialesser commented on #245
@Aleniras to save time and allow us to make changes more quickly (seeing as we have to go through a whole testing phase and request approval to apply changes each time, we bundle changes together and do them in batches) please provide specifics earlier. Thank you.

[2017-11-07 20:13] katrialesser commented on #232
We did a few quick color adjustments to reduce the number of grays and are holding off on any major color changes, as they might change with the next brand guidelines.

[2017-11-07 20:14] katrialesser commented on #232
I would consider this closed and changes desired later on can be a new issue.

[2017-11-07 20:14] #232 closed

[2017-11-07 22:27] katrialesser opened #250 "Flash of unstyled - if slower loading, header items flash to left"

[2017-11-08 22:40] katrialesser commented on #250
This is fixed, we adjusted the minimization css settings so it didn't break the code there. There is a slight flash we can add as a separate issue.

[2017-11-08 22:40] #250 closed

[2017-11-08 22:41] katrialesser opened #251 "action link button jumps half an inch on slow loading"
Need to go adjust the code for the action button. It jumps slightly. Probably low priority.

[2017-11-08 22:43] katrialesser commented on #240
We got this working and it will go into testing on dev site soon.

[2017-11-08 22:47] Aleniras commented on #234
This is in my court. I thought @jvogtman said we were out of budget and time so I have it on my schedule for next year. Happy to move it up if you do have the bandwidth for it!

[2017-11-08 22:48] katrialesser commented on #176
@hadfieldjoe could you confirm that this is something you want done? I don't know that we ever got this confirmed from you that you want it to be different than it is now.
How it is now:
![image](https://user-images.githubusercontent.com/12898896/32578916-4e58d1f6-c49c-11e7-8405-0b071e45c085.png)

[2017-11-08 22:58] sher1 commented on #230
no feedback from users on speed

[2017-11-08 23:00] sher1 commented on #213
Just verified with Google Page Speed and this is no longer an issue

[2017-11-08 23:00] #213 closed

[2017-11-08 23:01] Aleniras commented on #230
@katrialesser were you able to speed up the dots you posted about last?

[2017-11-08 23:02] Aleniras commented on #213
@sher1 what's the update on the other speed issues? I know Joe posted recently that we were back up to 5 second load times.

[2017-11-08 23:09] sher1 commented on #213
I just checked the Google Analytics and it says 3.6 seconds for the last week.

[2017-11-08 23:11] sher1 commented on #213
![2017oct-analytics](https://user-images.githubusercontent.com/3721239/32579727-719a4002-c49f-11e7-85c0-28487c9af69e.png)

[2017-11-08 23:11] Aleniras commented on #213
@sher1 that's better than 5 seconds :), though unfortunately not under the 3 seconds that is current market standard as we discussed. What else can we do to address this?

[2017-11-08 23:12] sher1 commented on #180
no comment from Joe, so closing

[2017-11-08 23:12] #180 closed

[2017-11-08 23:13] sher1 commented on #176
this doesn't seem necessary to do, it looks nice as it is

[2017-11-08 23:15] sher1 commented on #153
![2017oct-analytics](https://user-images.githubusercontent.com/3721239/32579857-f81b8a3c-c49f-11e7-8fe6-979c40ae8d49.png)

[2017-11-08 23:15] #153 closed

[2017-11-08 23:15] sher1 commented on #83
this has been completed

[2017-11-08 23:15] #83 closed

[2017-11-08 23:15] katrialesser opened #252 "If we are changing fonts, Katria compile detailed list of font styles for aleni to provide consoldation for and adjustments"
We have 61 font styles in our site, and additional coding for links and for text. If we are switching to a new font we also want to consolidate this down to 10 styles and following this we will need to spend a lot of time making the designs all work with these adjustments. This issue is for handling the number of styles, code, and preparing a consolidated list.

[2017-11-08 23:21] katrialesser commented on #176
Aleni and Joe approved closing and not doing this.

[2017-11-08 23:21] #176 closed

[2017-11-08 23:23] Aleniras commented on #213
maybe some of these?
![image](https://user-images.githubusercontent.com/26605197/32580110-1307477c-c4a1-11e7-9286-9ece07a2504e.png)

[2017-11-09 00:08] jvogtman commented on #155
The message can be fed automatically to the home page right now.  The request to have subsequent messages append is much harder.  @hadfieldjoe shall we release this feature now and work on the apend part later?

[2017-11-09 17:08] katrialesser commented on #252
It sounded pretty clear at the webfest and in our previous discussions that we will be switching over to the new font. I just want to confirm that I should spend time on this before we start.

[2017-11-09 17:25] Aleniras commented on #252
My understanding is that we will need to switch to a new font. @katrialesser I think I can work on it without your comprehensive list since we'll be consolidating so heavily. I'll let you know if I run into problems, and once I get it all ready we can meet so you can tell me what I'm missing :)

[2017-11-09 17:42] katrialesser commented on #245
50px space is in place.

[2017-11-09 17:42] #245 closed

[2017-11-09 17:58] katrialesser commented on #234
We are all happy to work on this next year with the new budget.

[2017-11-09 18:03] katrialesser commented on #235
@hadfieldjoe you can add it as a regular link OR as a footer button:

instruction for this is here:  http://2017-components-demo.cdn.byu.edu/byu-footer.html
1. change the text format to 'CODE' FIRST.
2. then You can simply add a link how you want using this code where you want and change the link and text.

<byu-footer-action-button>
            <a href="https://www.google.com" slot="actiontext">G

[2017-11-09 23:42] katrialesser commented on #199
We have a small change that will be rolled up next. This is done.

[2017-11-09 23:42] #199 closed

[2017-11-10 18:40] katrialesser commented on #235
Joe Hadfield [24 minutes ago]
I've spent time reviewing the live chat and feel like we should stick with that as the single contact option on the page.

[2017-11-10 18:40] #235 closed

[2017-11-10 21:51] katrialesser opened #254 "Add the Learning Suite button (AFTER design is finished)"
This will involve seriously changing how the action link is styled. Depending on the styling, we can make an estimate of time involved.

[2017-11-10 21:55] katrialesser commented on #240
Updated the module with configuration link and settings. It is on www-test and working great. We will put it on prod with our next update. :)

[2017-11-10 22:31] katrialesser commented on #240
scheduled for this update to be put on live site next Thursday.

[2017-11-10 22:31] #240 closed

[2017-11-14 19:36] jvogtman commented on #254
We can easily add the learning suite button to the desktop version, but Aleni will need to figure out where she wants it on mobile, etc.  Or, @Aleniras can elect to just have @katrialesser  fit it in as she sees fit.

[2017-11-14 20:25] Aleniras commented on #254
I've been working on some formatting for header footer across campus but I'll get something to Joe by end of week to approve.

[2017-11-29 23:34] jvogtman commented on #155
Discussion with @hadfieldjoe on 11/29.  Let's release this feature ASAP.  The Append functionality is still desired, but having the ability to feed a message to the Home Page is the priority.  The Append can wait.

[2017-12-01 18:01] rburkey87 opened #256 "Academics circles text not stacking in IE"
**Image of issue:**
![image](https://user-images.githubusercontent.com/25965299/33496306-f2fd9916-d686-11e7-9895-621f002ee873.png)

**Recommended fix:**
in `.undergrad-circle`, `.masters-circle`, and `doctorate-circle`:
remove `align-items: center`

add `center` class to each div with the `circles-h10` class

[2017-12-01 18:27] rburkey87 opened #257 "myBYU button text off-center in IE"
![image](https://user-images.githubusercontent.com/25965299/33497250-8b5e175a-d68a-11e7-979f-c11482e1a392.png)

IE pushes the padding-right back with the padding-left. Changing the right & left padding to 16px (instead of 32px) fixes the problem (only for IE - include browser class).

[2017-12-01 18:42] rburkey87 opened #258 "Browser classes not updated"
Here's the fix from the byu_d8 theme:

[code]

[2017-12-01 18:49] katrialesser commented on #257
IE needs different padding than chrome. changing to 16px on left/right

[2017-12-01 19:36] katrialesser commented on #258
One area we need to test heavily is on the About page. Right now, we have Safari about map section shown from the start without the appearance animations, due to issues with safari not listening to all scroll events normally. Although the browser classes on the body are messed up right now, it is PARTIALLY working because safari code is working to make sure this is displayed from the start.

Once

[2017-12-01 19:37] katrialesser commented on #258
I also expect there were some older browser adjustments that used to work, that don't work now, and when we enable this we need to test THOROUGLY since now that they apply again they may or may not be accurate. We don't know exactly when the browser classes stopped working. (But we have confirmed that at some point something changed outside our code because in multiple websites the code stopped wo

[2017-12-01 22:03] Aleniras opened #259 "Search bar"
![image](https://user-images.githubusercontent.com/26605197/33505496-bf3ea7a6-d6a8-11e7-8ba6-71b038ba3ef3.png)

please make the corners of the icon box and the field box both square

[2017-12-01 23:43] rburkey87 opened #261 "More Facts button stacking in IE"
![image](https://user-images.githubusercontent.com/25965299/33508276-b01f69aa-d6b6-11e7-92e8-d7add6e829b8.png)

As seen on the bottom of the About page

[2017-12-05 17:47] Aleniras commented on #259
![image](https://user-images.githubusercontent.com/26605197/33621902-805d54c0-d9a9-11e7-9ede-0e8b132bd17f.png)

It also looks like the search icon in firefox is shifted to the right. Can we make sure these are all consistent and centered?

[2017-12-18 22:54] katrialesser opened #264 "world bg missing on about page"

[2017-12-18 22:56] katrialesser commented on #261
Rebecca confirmed that this is fixed.

[2017-12-18 23:01] katrialesser commented on #259
@Aleniras please do not keep putting two issues in the same issue. These are completely separate.
1. We can't find any browser doing this and you haven't specified how/where you saw this. If you have specifics, please open a new separate issue for that.
2. The difference is because you are comparing two different screen sizes. On desktop, the search and myBYU buttons align with the edge of the men

[2017-12-18 23:02] #261 closed

[2017-12-18 23:02] katrialesser commented on #257
we fixed this.

[2017-12-18 23:02] #257 closed

[2017-12-18 23:02] katrialesser commented on #256
We fixed this a couple weeks ago.

[2017-12-18 23:02] #256 closed

[2017-12-18 23:03] katrialesser commented on #252
Closed based on discussion.

[2017-12-18 23:03] #252 closed

[2017-12-18 23:08] Aleniras commented on #259
@katrialesser sorry about that; I thought since these were both search issues they should go in the same issue. I'll be sure to separate more in the future. The first one was in Safari, but looks like it has been resolved; thanks.

I reopened this for the second item. The search icon in the grey box on the firefox desktop browser is not centered. I haven't checked this on tablet yet, but if we can

[2017-12-18 23:12] katrialesser commented on #230
@Aleniras It was decided that the timing would not be changed until user testing showed WHERE the animations need to be adjusted; we've adjusted it back and forth, and I think the real need is to evaluate what the USERS need from this.

[2017-12-18 23:12] #230 closed

[2017-12-18 23:17] katrialesser commented on #259
The images you put in your issue showed the alignment change for the entire search bar, not the search icon. We didn't realize you meant search ICON instead of bar.

This is a component issue, not our theme issue. You can see that the regular components have this issue for firefox too:
http://hs.byu.edu/
Closing. We periodically merge in their fixes, but this needs to be fixed with the main commun

[2017-12-18 23:17] #259 closed

[2017-12-18 23:20] katrialesser commented on #259
@Aleniras i saw this on firefox 56.0.1 and once i updated, it went away. Please update your browser, should fix it.

[2017-12-18 23:24] katrialesser commented on #210
@hadfieldjoe any update on this decision?

[2017-12-20 21:12] katrialesser commented on #17
Update: When I compiled the list of deviated font styles (guessing 60+), I had not checked all the custom modules we built out. Now that I'm looking there, I'm guessing we have an additional 20+ font styles/deviations there.
We also have multiple different colors in use so it's not always consistently the same colors used for graphic/visuals. (i.e. 5 different shades of yellow/gold when we should

[2018-01-03 17:39] Aleniras commented on #17
@katrialesser feel free to let me know which golds we are using and I can consolidate. like you said, we don't need five :)

[2018-01-11 23:57] byu-oit-bot opened #265 "Invalid repo-meta"
For [.repo-meta.yml](https://github.com/byu-oit/home_d8/blob/master/.repo-meta.yml) to federate properly with the [CMDB](https://it.byu.edu/), some fields have to be values the CMDB can accept. Below is a list of values [repo_meta_to_cmdb](https://github.com/byu-oit/repo_meta_to_cmdb/) could not find in the CMDB, grouped by type. Each type has a link to the allowed values in the CMDB, and each ite

[2018-01-12 21:10] katrialesser commented on #254
We received this info from Joe and Aleni yesterday:
https://projects.invisionapp.com/share/26FAQQDSH#/screens

And these quesitons/discussions today:
Katria Lesser [11:43 AM]
@aleni thank you for clarifying - mobile doesn’t show options to move between images and for some reason it was stuck on one. My questions:
1. For link text: Character spacing 1 - what does that mean? Does that mean no letter

[2018-01-16 17:34] katrialesser opened #266 "Hide menu links while the page is loading when it's tablet/mobile"
So the menu links don't show for a flash

[2018-01-16 22:08] katrialesser opened #267 "campus life links don't fit at 320px"
![image](https://user-images.githubusercontent.com/12898896/35014747-135df7b6-facf-11e7-8197-5a2d8f404c1a.png)

[2018-01-17 17:43] katrialesser commented on #267
I have fixed this with my font adjustments branch

[2018-01-26 21:41] katrialesser opened #268 "Colleges & Departments title covered by header banner"
![capture](https://user-images.githubusercontent.com/12898896/35461910-fe6308d0-02a6-11e8-959d-4ed75cfeafa6.PNG)

[2018-01-26 21:42] katrialesser opened #269 "Mobile and Ipad Portrait Bad spacing by search results"
![image](https://user-images.githubusercontent.com/12898896/35461931-179f3f1c-02a7-11e8-8c1b-52a0a0d16243.png)

[2018-01-26 22:15] katrialesser opened #270 "Accessibility - Site Main Content link wasn't linking"
Add correct id to all page templates

[2018-01-30 19:27] katrialesser opened #271 "Navy border showing on mobile below title headers"
![image](https://user-images.githubusercontent.com/12898896/35586718-e07d1cd8-05b8-11e8-9546-6b867b9dd0cf.png)

[2018-02-06 20:53] katrialesser commented on #271
Assigning to joe: this is fixed, waiting for his approval - sent him an email 1/30.

[2018-02-06 20:53] katrialesser commented on #270
Assigning to joe: this is fixed, waiting for his approval - sent him an email 1/30.

[2018-02-06 20:53] katrialesser commented on #269
Assigning to joe: this is fixed, waiting for his approval - sent him an email 1/30.

[2018-02-06 20:53] katrialesser commented on #268
Assigning to joe: this is fixed, waiting for his approval - sent him an email 1/30.

[2018-02-06 20:54] katrialesser commented on #267
Assigning to joe: this is fixed, waiting for his approval - sent him an email 1/30.

[2018-02-06 21:01] jvogtman commented on #155
This is a priority item.  Sherwin please add some comments as to the status of this item and any roadblocks.

[2018-02-06 21:02] katrialesser commented on #17
Update: Font consolidation down from 60-80ish to 10 is complete.  We were able to cut our lines of scss code down by 12%!
This has been implemented entirely throughout the site and tested by a dozen people in several rounds of changes.
Jan 30th I emailed this to Joe and he is reviewing the changes. We are awaiting his approval and feedback on anything he wants us to tweak.

[2018-02-06 21:03] jvogtman commented on #234
This alternate/celebration page is on Joe's 2018 task list for our team.  @Aleniras do you have a design?

[2018-02-06 21:04] jvogtman opened #272 "Search Project - Separate project, but does affect Home Page"
@hadfieldjoe and @sher1 do you have specific requirements for this?  Do I need to do research?

[2018-02-06 21:05] katrialesser commented on #242
We have changed byu_d8 to be based off of bootstrap instead. This will be an improvement.

If we still want our own copy of byu_d8 that doesn't get updated, that is fine, but it is still an improvement we should test to swap it to rely on the bootstrap based one instead due to Porto issues.
The new version of byu_d8 is here: drupal.org/project/byu_theme

[2018-02-06 21:12] katrialesser commented on #265
I talked with Nate and he helped me correct the software names it wanted for prod and dev.

[2018-02-06 21:12] #265 closed

[2018-02-06 23:57] Aleniras commented on #234
Thanks for checking! We had put this on hold for the 2018 budget, but Joe and I will work on some mockups and I'll let you know once they're ready.

[2018-02-07 16:24] sher1 commented on #155
This is being stopped by our inability to get the web services working with apache. I have gotten them working on Nginx but that is not the platform we are on in production right now. We have been working on our deployment workflow to provide less chance of downtime for issues. I will take a look at what can be done to bandage this at least somewhat to allow for services.

[2018-02-07 18:07] katrialesser opened #273 "Chrome - search box missing margin above it"
I've seen it on Glen's windows, my mac, not on Rebecca's chrome.

[2018-02-07 18:09] katrialesser commented on #273
Issue shown on Sherwin's v 64, my version is 64.

[2018-03-29 16:31] katrialesser opened #275 "Add metatag module and configuration, also allows discluding individual nodes from search"

[2018-03-29 19:55] katrialesser opened #276 "last S in STATES slightly cut off on About page"
![image](https://user-images.githubusercontent.com/12898896/38110420-cb43a512-3358-11e8-903f-c7f86ee085d8.png)

[2018-04-02 18:08] #276 closed

[2018-04-19 22:33] hadfieldjoe opened #279 "Unbold "Highlighted Events" above the calendar widget"
This should match the styling of the hero title.

[2018-04-19 22:37] hadfieldjoe opened #280 "Space missing after largest in "LargestUndergraduate Enrollment" section on About page"

[2018-04-19 22:39] hadfieldjoe opened #281 "Line break too big between "65% OF STUDENTS SPEAK A SECOND" and "LANGUAGE" on About page"

[2018-04-19 22:45] hadfieldjoe opened #282 "make min font size 15 in BYU.edu calendar widget text"

[2018-04-19 22:50] hadfieldjoe opened #283 "Center "See More" within the circle on the final Instagram square"
this is on the about page. Looks like gravity has over time affected the two words, sort of like what happens to very old glass windows.

[2018-04-25 19:10] katrialesser commented on #270
Approved and was pushed a couple weeks ago.

[2018-04-25 19:11] katrialesser commented on #269
Approved and was pushed a couple weeks ago.

[2018-04-25 19:11] katrialesser commented on #268
Approved and was pushed up to prod a few weeks ago.

[2018-04-25 19:11] #268 closed

[2018-04-25 19:15] katrialesser commented on #242
When we switch to using the theme and modules from drupal.org instead of github, this will be resolved.

[2018-04-25 19:29] katrialesser commented on #282
This is the body font size, I'm thinking we should probably increase the body text from 14px to 15px, since it was 14px before and the font has been increased almost everywhere.

[2018-04-25 19:33] katrialesser commented on #281
Need to add:
.students-speaking-text-wrapper .v3,
.students-speaking-text-wrapper h3 {
    line-height: normal!important; // normal or smaller than 23, check different breakpoint sizes
}

[2018-05-07 16:06] katrialesser opened #284 "Fix instagram issue - video posts have issues keeping an image in the block"
Full issue on the module:
https://github.com/byuweb/instagram_d8/issues/1

[2018-05-14 16:47] katrialesser commented on #284
Sherwin is adding a module CacheFlush to hopefully flush the cache on a regular basis. That would fix the problem on this site.

[2018-05-14 16:49] katrialesser commented on #284
Sherwin is going to add that module to the dev site to test it out.

[2018-05-22 22:57] katrialesser opened #285 "Take a look at Resources that are Loading - Aggregate more or remove some?"
there are many small css files
- [ ] possibly aggregate them together to bigger files more?
This is something about Advanced Aggregation?
- [ ] they're saying we are loading resources via http1, can we change to http2?
- [ ] check for resources we don't need to load?
i.e. owl carosel - where is that coming from?
owl-theme
mfp- stuff
blog-post and article one..
.shop stuff..
- [ ] switch base byu t

[2018-05-29 21:04] katrialesser opened #286 "Safari on ipad, issues in the header"
- [ ] the search icon is missing (this is a component-general problem)
- [ ] our action button should be going to it's own line

In version 9.3.5

[2018-07-21 01:52] katrialesser commented on #282
Note: this should be done in the calendar component for Featured display - https://github.com/byuweb/byu-calendar-components

[2018-07-21 01:54] katrialesser commented on #273
Issue doesn't show on windows with chrome 67. Doesn't show on my mac with chrome 67 either. I think this is resolved now.

[2018-07-21 01:54] #273 closed

[2018-10-21 01:26] blakemorgan opened #290 "Add letter spacing on buttons"
![image 1](https://user-images.githubusercontent.com/9389424/47262149-f9c21400-d49d-11e8-9ca7-b1b2a89738b0.png)

[2018-10-21 01:26] blakemorgan opened #291 "Admissions Page tweaks"
- [x] `all-caps` button formatting
- [x] Apply to BYU should match formatting of all links beneath it.
- [x] Left align links with headers

![image 3](https://user-images.githubusercontent.com/9389424/47262166-60473200-d49e-11e8-80d6-c0f942e232ec.png)

[2018-10-21 01:28] blakemorgan opened #292 "Left-align "Freshmane Profile""
Left align it with the edge of the white box.

![image 2](https://user-images.githubusercontent.com/9389424/47262160-486fae00-d49e-11e8-9efe-a63fc4cee68f.png)

[2018-10-21 01:30] #292 closed

[2018-10-21 01:36] #290 closed

[2018-10-21 02:01] blakemorgan opened #293 "Academics overlay"
The label for the three pictures on the Academic page needs to overlay the label.

**Top = current; bottom = what it should be:**
![image 4](https://user-images.githubusercontent.com/9389424/47262289-f16bd800-d4a1-11e8-9dc0-7b37cf8416ec.png)

[2018-10-21 02:16] blakemorgan opened #294 "Number of students need to be on same line as bar on mobile"
![image 5](https://user-images.githubusercontent.com/9389424/47262393-0433dc00-d4a5-11e8-8e33-cfe81e188e84.png)

[2018-10-21 02:17] blakemorgan opened #295 "State percentages should appear on mobile."

[2018-10-21 02:18] blakemorgan opened #296 "Language circles become oval on mobile"
![image 6](https://user-images.githubusercontent.com/9389424/47262407-42c99680-d4a5-11e8-9455-2b5ad70c1ddb.png)

[2018-10-21 02:19] blakemorgan opened #297 "Buttons should be on same line"
![image 7](https://user-images.githubusercontent.com/9389424/47262411-6987cd00-d4a5-11e8-8252-d92450321f10.png)

[2018-10-21 02:22] blakemorgan opened #299 "Circle edges get cropped on mobile small screen"
![image 9](https://user-images.githubusercontent.com/9389424/47262421-d307db80-d4a5-11e8-988f-f7bdc100ad0d.png)

[2018-10-21 02:42] blakemorgan opened #300 "Mobile FOUC is bad"
It needs to get fixed.

[2018-10-22 23:30] blakemorgan commented on #299
Fixed in https://github.com/blakemorgan/home_d8/commit/a11b73099bf2bfc1c8e813eb640f5368814cbd15

[2018-10-22 23:30] #299 closed

[2018-10-23 00:46] #297 closed

[2018-10-23 00:51] #291 closed

[2018-10-23 17:35] blakemorgan commented on #295
Fixed in https://github.com/blakemorgan/home_d8/commit/65c21444be443d25c67d56eae5e1ced113020805

[2018-10-23 17:35] #295 closed

[2018-10-24 17:39] #281 closed

[2018-10-24 17:39] #279 closed

[2018-11-12 23:06] blakemorgan opened #304 "Text isn't centered on mobile in degree bubbles"
![screenshot from 2018-11-12 16-05-17](https://user-images.githubusercontent.com/9389424/48380398-e0734880-e694-11e8-8223-d821e3f94d8b.png)

[2018-11-12 23:13] #304 closed

[2018-11-13 03:15] #296 closed

[2018-11-14 16:03] blakemorgan opened #305 "Have to click text for action link"
You have to click the text for any action link to work. If you click somewhere else, it closes the menu. Need better UX.

[2018-11-16 18:52] blakemorgan opened #306 "Skew the somethings headers"
See the specs for demo

[2018-11-16 18:57] blakemorgan commented on #286
Closing because we are on iOS 12 now and only support the past two versions.

[2018-11-16 18:59] blakemorgan commented on #283
This has been fixed and should be closed.

[2018-11-16 19:02] blakemorgan commented on #282
This has been fixed and should be closed.

[2018-11-16 19:03] blakemorgan commented on #266
This has been fixed and should be closed.

[2018-11-16 19:05] blakemorgan commented on #264
We no longer support IE. Should we still fix this?

[2018-11-16 19:10] blakemorgan commented on #258
Browser detection has been removed from byu_theme. This can be closed when we switch over to that theme.

[2018-11-16 19:12] blakemorgan commented on #305
Dup. of #241. Can be closed.

[2018-11-16 19:12] #305 closed

[2018-11-16 19:12] blakemorgan commented on #236
We have switched to the new components. Can this be closed?

[2018-11-21 01:53] #293 closed

[2018-11-21 01:56] blakemorgan commented on #254
This is ready to be moved to production.